* { font-size: 12px; }

#header {
    background-color: #F2F7FB;
    border-bottom: 2px solid #F58634;
}

#title-bar {
    background-color: #00598C;
    color: #fff;
    text-align: center;
}

#conteudo {
    background-color: #CCCCCC;
    min-height: calc(100vh - 201px);
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}

#form {
    background-color: #fff;
    padding: 10px;
}

h1 {
    color: #256693;
}

#footer {
    background-color: #f2f7fb;
    border: 1px solid #e6e7e8;
    border-top: none;
    text-align: center;
    font-size: 9px;
    font-weight: bold;
}

#footer p {
    color: #c8d2dc;
}