* { font-size: 14px; }

.w-95 { width: 95% !important; }
.w-85 { width: 85% !important;}

.btn-primary { background-color: #256693; }

.btn-warning { background-color: #f58634; color: white; }

.btn-success { background-color: #00a859; }

.conquistado, .concluido, .pago, .sms-entregue { background-color: #64bc50; color: white; text-align: center }
.aconquistar, .aguardando, .empenhado { background-color: #f7ed53; text-align: center}
.perdido, .cancelado { background-color: #ed3237; color: white; text-align: center}
.aberto, .nao-empenhado {background-color: #256693; color: white; text-align: center}

/* --- Header, Menu--- */
#nav-header {
    background-color: #f2f7fb;
    border: 1px solid #e6e7e8;
    border-bottom: 3px solid #f58634;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #FFFF;
}

.header-color, .icon-notify, #footer {
    color: #256693;
    font-size: 14px;
}

.fa-expand {
    font-size: 20px;
    color: lightslategrey;
}

.header-item {
    height: 52px;
}

.divider {
    height: 40px;
    border-left: 1px solid #e6e7e8;
    margin-top: 5px;
}

.right {
    display: flex;
    flex-direction: row-reverse;
}

.left {
    display: flex;
    flex-direction: row;
    padding-top: 5px;
}

.center {
    padding-top: 10px;
}

#user-avatar, .user-avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 8px 0 0;
    border: 2px solid #256693;
}

.icon-notify {
    margin: 5px 5px 0 5px;
    font-size: 20px;
}

/* ---------------- Menu ---------------- */
#nav-menu {
    background-color: #256693;
    padding: 5px 0 5px 0;
}

.menu-item {
    color: #ffffff;
    font-size: 14px;
}

.dropdown-item:hover {
    background-color: #256693;
    color: white;
}

/* ---------------- Conteudo ---------------- */
#main {
    background-color: #fefcfd;
    border: 1px solid #e6e7e8;
    border-bottom: none;
    padding: 10px 10px 30px 10px;
    min-height: calc(100vh - 190px);
}

/* ---------------- Dashboard ---------------- */
.border-dark-blue {border-color: #2e3192 !important;}
.border-yellow {border-color: #ebe412 !important;}
.border-green {border-color: #00a651 !important;}
.border-red {border-color: #ed1c24 !important;}
.border-light-blue {border-color: #00aeef !important;}
.border-orange {border-color: #f58220 !important;}
.border-grey {border-color: #a7a9ac !important;}
.border-black {border-color: #231f20 !important;}

.color-dark-blue {color: #2e3192 !important;}
.color-yellow {color: #ebe412 !important;}
.color-green {color: #00a651 !important;}
.color-red {color: #ed1c24 !important;}
.color-light-blue {color: #00aeef !important;}
.color-orange {color: #f58220 !important;}
.color-grey {color: #a7a9ac !important;}
.color-black {color: #231f20 !important;}

.dash-btn {
    font-size: 14px;
    font-weight: 500;
    padding: 5px 10px 5px 10px;
    background-color: #fff;
    border: 1px solid #e7e7e8;
}

.dash-wrapper {margin-bottom: 10px;}

.dash-card {
    background-color: #fff;
    border-radius: 18px;
    border-left: 8px solid #0E0E0E;
    padding: 8px 2px 2px 5px;
    height: 120px;
}

.dash-header {
    font-size: 16px;
    font-weight: 600;
}

.dash-content {
    margin: 2px 0;
    text-align: center;
}

.dash-icon-big { margin: -30px 5px 0 0; }

.dash-icons {margin-bottom: -5px}

.dash-number {
    font-size: 35px;
    font-weight: 700;
}

.dash-number-big {font-size: 45px; font-weight: 700;}

.dash-footer {
    font-size: 14px;
    color: #939598;
    font-weight: 500;
    text-align: center;
}

@media (max-width: 768px) {
    .dash-header { font-size: 14px; }
    .dash-number { font-size: 25px; }
}

#dash-grafico {
    background-color: #ffffff;
    border-radius: 5px;
}

#aniversariantes th {
    color: #fff;
    text-align: center;
    background-color: #0095da;
    font-size: 15px;
}

#aniversariantes td {
    font-size: 15px;
}


/* --- Lista e Pesquisa --- */
.card-header {
    background-color: #f58220;
    border: 2px solid #F58220;
    color: white;
    height: 45px;
}

.card-header h5 { font-size: 20px }

.card {
    border: 1px solid #CCC;
    border-top: none;
}

.breadcrumb {
    background-color: white;
    font-size: 12px;
    margin-top: -10px;
}

ol > .fa-angle-double-right {
    margin: 5px 4px 0 0;
    color: #256693;
}

#advanced-search {
    display: none;
    background-color: #e6e7e8;
    margin-top: 20px;
    padding: 10px;
}

#submit-advanced, #reset-advanced, #imprimir-advanced {
    margin-top: 27px;
}

.nav-pills .nav-link.active {
    background-color: lightgrey;
}

table {
    margin-top: 30px;
}

.action-column {
    width: 180px;
    text-align: center;
}

td > a:hover {
    text-decoration: none;
}

.form-control { padding: 5px; }

.modal-header { padding: 18px 18px 12px 12px; }

button.close {
    background: #256693;
    color: white;
    opacity: 1;
}

button.close > span { font-size: 18px;}

.caret-off {
    padding: 6.4px 10px;
    border: 1px solid #00a859;
}

.caret-off::after {
    display: none;
}

.action-column button {
    vertical-align: bottom;
}

.paginator {
    margin-top: 60px;
}

/* ---------------- MARKETING (SMS,EMAIL,WHATSAPP) ---------------- */
/*.card-sms { background-color: #f7f9fa; }*/
#envia-sms h1 { color: #5f5f5f; font-size: 30px }
#envia-sms .accordion-cat-icon { margin-right: 10px; }
#envia-sms .btn:focus { box-shadow: none; }

#accordionSMS .card { border-top: 1px solid #ccc }
#accordionSMS .card-header { background: white; border: none; padding: 9px 0 9px 0; }
#accordionSMS .card-header:hover { background-color: #f3f2f2; }
#accordionSMS .card-body .row .col-12 { padding: 10px 15px; }
#accordionSMS .card-body .row .col-12:hover { background-color: #d6d4d4; }
#accordionSMS  a, #accordionSMS i { color: #5f5f5f; font-size: 14px; }
#accordionSMS .btn-link { font-weight: bold; }
#accordionSMS .fa-angle-down { float: right; }
#accordionSMS .card-body { border: none; background-color: #f3f2f2; }

.saldo-short, .saldo-long {
    background-color: #00a859;
    padding: 10px;
    color: #fff;
    font-size: 15px;
    margin-top: 10px;
}
.saldo-long { background-color: #256693; }
.saldo-short hr, .saldo-long hr { background-color: #fff; }

.container-sms { border: 1px solid #ccc; padding: 14px 14px 0 14px;}

.mobile-msg {
    background-color: #f3f4f5;
    width: 80%;
    float: right;
    padding: 15px 5px;
    border-radius: 5px;
    font-weight: 500;
}

.progress { height: 30px; }

#sms-filtro-grupos {
    background-color: #e6e7e8;
    margin-top: 20px;
    padding: 10px;
}

.container-editor {
    width: 100%;
    height: 768px;
}

#editor { height: 768px; }

.marketing-heading { font-size: 22px; font-weight: 500; color: #5f5f5f; padding-bottom: 15px; }
.mobile-container { position: relative; top: -300px; z-index: 999; right: 30px; }


/* ---------------- Configuracoes ---------------- */
#configs-tab { background-color: #256693; }
#configs-tab .nav-pills, #configs-tab .nav-link.active { background-color: #00a859; }
#configs-tab li { border: 1px solid white; }
#configs-tab li a { color: white; }

.subconfig .nav-item { background-color: rgb(241,242,243); border: 1px solid darkgray; }
.subconfig .nav-tabs, .subconfig .nav-link.active { background-color: rgb(131,209,243); }
.subconfig .nav-item a { color: dimgray; font-weight: bold }

.permissao-wrapper {
    border: 1px solid #256693;
    max-height: 300px;
    overflow: scroll;
    overflow-scrolling: auto;
}

.permissao-header {
    background-color: #256693;
    color: white;
    font-weight: bold;
    padding: 5px 2px;
}

.permissao-header label { font-size: 15px; }
.permissao-item { margin: 10px 2px; }

/* ---------------- Videos Tutoriais ---------------- */
#videos-tutoriais h1 { color: #5f5f5f; font-size: 30px }
#videos-tutoriais .fa-youtube { font-size: 35px; }
#videos-tutoriais .tutorial-cat-icon { margin-right: 10px; }

#accordionTutorial .card { border: none; }
#accordionTutorial .card-header { background: white; border: none; padding: 9px 0 9px 0; }
#accordionTutorial .card-header:hover { background-color: #f3f2f2; }
#accordionTutorial .card-body:hover { background-color: #d6d4d4; }
#accordionTutorial a, #accordionTutorial i { color: #5f5f5f; font-size: 14px; }
#accordionTutorial .btn-link { font-weight: bold; }
#accordionTutorial .fa-angle-down { float: right; }
#accordionTutorial .card-body { border: none; background-color: #f3f2f2; }

/* ---------------- Footer ---------------- */
#pre-footer {
    background-color: #f2f7fb;
    border: 1px solid #e6e7e8;
    border-top: none;
    padding-bottom: 10px;
    text-align: center;
    font-size: 9px;
    font-weight: bold;
}

#pre-footer p {
    color: #c8d2dc;
}

#footer {
    background-color: #fff;
    height: 60px;
    border: 1px solid #e6e7e8;
    border-top: none;
    padding-top: 4px;
}

.footer-item {
    padding-top: 7px
}

.divider-footer {
    height: 35px;
    border-left: 1px solid #e6e7e8;
}