<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
    <title>Gerencie Meu Gabinete</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/styles.css"/>
    <script src="https://kit.fontawesome.com/1858995fec.js" crossorigin="anonymous"></script>
</head>
<body>

    <!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-light" id="nav-header">
        <button id="toggle" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto nav-fill w-100 align-items-start">

                <li class="nav-item header-item">
                    <a href="../../dashboard.html"><img src="../../img/logo-nav.png"/></a>
                </li>

                <li class="nav-item header-item center">
                    <a href="#"><i class="fas fa-expand" id="ico-fullscreen"></i></a>
                </li>

                <li class="divider"></li>

                <li class="nav-item header-item right center header-color">
                    <span class="font-weight-bold">Escritório: </span>
                </li>

                <li class="nav-item header-item left">
                    <div class="dropdown">

                        <button class="btn btn-light dropdown-toggle header-color" type="button" id="dropdownLocal" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ Deputado Estadual Alex Redano - Ariquemes }}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownLocal">
                            <a class="dropdown-item" href="#">{{ list item }}</a>
                        </div>
                    </div>
                </li>

                <li class="divider"></li>

                <li class="nav-item header-item right">
                    <img src="../../img/user-avatar.png" id="user-avatar"/>
                </li>

                <li class="nav-item header-item left">
                    <div class="dropdown">

                        <button class="btn btn-light dropdown-toggle header-color" type="button" id="dropdownMenuButtonAvatar" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ Thiago de Souza Bueno }}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonAvatar">
                            <a class="dropdown-item" href="#">{{ list item }}</a>
                        </div>
                    </div>
                </li>

                <li class="divider"></li>

                <li class="nav-item header-item center">
                    <a href="#"><i class="fas fa-cog icon-notify"></i></a>
                    <a href="#"><i class="far fa-play-circle icon-notify"></i></a>
                    <a href="#"><i class="fas fa-dollar-sign icon-notify"></i></a>
                    <a href="#"><i class="far fa-bell icon-notify"></i></a>
                </li>

                <li class="divider"></li>

                <li class="nav-item header-item center header-color">
                    <i class="fas fa-headset"></i><span class="font-weight-bold">  Suporte: </span> <span>(99) 9999-9999</span>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Menu principal -->
    <nav class="navbar navbar-expand-lg navbar-light" id="nav-menu">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent1">
            <ul class="navbar-nav mr-auto nav-fill w-100 align-items-start">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="menu-item"><i class="fas fa-user"></i> Cadastro</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                        <a class="dropdown-item" href="../../Cadastros/pessoas.index.html">Pessoas</a>
                        <a class="dropdown-item" href="../../Cadastros/organizacoes.index.html">Organizações</a>
                        <a class="dropdown-item" href="../../Cadastros/usuario.index.html">Usuário</a>
                        <a class="dropdown-item" href="../../Cadastros/escritorio.index.html">Escritório</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="menu-item"><i class="fas fa-user-tie"></i> Atendimento</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                        <a class="dropdown-item" href="../../Atendimento/agenda.index.html">Agenda</a>
                        <a class="dropdown-item" href="../../Atendimento/solicitacoes.index.html">Solicitações</a>
                        <a class="dropdown-item" href="#">Reivindicações</a>
                        <a class="dropdown-item" href="#">Visitas</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="menu-item"><i class="fas fa-gavel"></i> Legislativo</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
                        <a class="dropdown-item" href="/proposicoes.index.html">Solicitações</a>
                        <a class="dropdown-item" href="/emendas.index.html">Emendas</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown4" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="menu-item"><i class="fas fa-map-marked-alt"></i> GEO</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown4">
                        <a class="dropdown-item" href="#">Geolocalização</a>
                        <a class="dropdown-item" href="#">Eleições</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown5" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="menu-item"><i class="fas fa-envelope"></i> Marketing</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown5">
                        <a class="dropdown-item" href="#">E-mail Marketing</a>
                        <a class="dropdown-item" href="#">Envia SMS</a>
                        <a class="dropdown-item" href="#">Envia Whatsapp</a>
                    </div>
                </li>
                <!--
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown6" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="menu-item"><i class="fas fa-hand-holding-usd"></i> Financeiro</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown6">
                        <a class="dropdown-item" href="#">Movimentação</a>
                        <a class="dropdown-item" href="#">Fornecedor</a>
                        <a class="dropdown-item" href="#">Plano de Contas</a>
                        <a class="dropdown-item" href="#">Contas Bancárias</a>
                        <a class="dropdown-item" href="#">DRE</a>
                    </div>
                </li>
                -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown7" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="menu-item"><i class="fas fa-file-alt"></i> GED</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown7">
                        <a class="dropdown-item" href="#">Arquivo</a>
                        <a class="dropdown-item" href="#">Digitalização</a>
                        <a class="dropdown-item" href="#">OCR</a>
                        <a class="dropdown-item" href="#">Ficha de Cadastro</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown8" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="menu-item"><i class="fas fa-print"></i> Relatórios</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown8">
                        <a class="dropdown-item" href="#">Cadastro</a>
                        <a class="dropdown-item" href="#">Atendimento</a>
                        <a class="dropdown-item" href="#">Geo</a>
                        <a class="dropdown-item" href="#">Comunicação</a>
                        <a class="dropdown-item" href="#">Financeiro</a>
                        <a class="dropdown-item" href="#">Produtividade</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown9" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="menu-item"><i class="fas fa-cog"></i> Configurações</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown9">
                        <a class="dropdown-item" href="#">Status do Atendimento</a>
                        <a class="dropdown-item" href="#">Grupo de Eleitores</a>
                        <a class="dropdown-item" href="#">Origem dos Atendimentos</a>
                        <a class="dropdown-item" href="#">Usuários</a>
                        <a class="dropdown-item" href="#">Meu Plano</a>
                        <a class="dropdown-item" href="#">Backup de Dados</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Conteudo -->
    <div id="main">
        <div class="card card-sms">
            <div class="card-header">
                <h5>Envia SMS</h5>
            </div>
            <div class="card-body">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <i class="fas fa-angle-double-right"></i><li class="breadcrumb-item">Marketing / Envia SMS / Novo Envio de SMS</li>
                    </ol>
                </nav>

                <div class="row">
                    <div class="col-md-2 mb-4" id="envia-sms">
                        <div class="accordion" id="accordionSMS">

                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            <i class="fas fa-sms accordion-cat-icon"></i><a href="#">Envio de SMS</a><i class="fas fa-angle-down"></i>
                                        </button>
                                    </h2>
                                </div>

                                <div id="collapseOne" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionSMS">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="row">
                                                <div class="col-12"><a href="novo.html"><i class="fa fa-angle-double-right"></i> Novo Envio de SMS</a></div>
                                                <div class="col-12"><a href="enviados.html"><i class="fa fa-angle-double-right"></i> Enviados</a></div>
                                                <div class="col-12"><a href="agendados.html"><i class="fa fa-angle-double-right"></i> Agendados</a></div>
                                                <div class="col-12"><a href="aniversariantes.html"><i class="fa fa-angle-double-right"></i> Aniversariantes</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            <i class="fas fa-users accordion-cat-icon"></i><a href="#">Cadastros</a><i class="fas fa-angle-down"></i>
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSMS">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12"><a href="grupos.html"><i class="fa fa-angle-double-right"></i> Grupos</a></div>
                                            <div class="col-12"><a href="campanhas.html"><i class="fa fa-angle-double-right"></i> Campanhas</a></div>
                                            <div class="col-12"><a href="modelos.html"><i class="fa fa-angle-double-right"></i> Modelos</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="saldo-short">
                            <span>Saldo - Short Code: 1254</span>
                            <hr>
                            <span>Enviados: 4096</span>
                        </div>

                        <div class="saldo-long">
                            <span>Saldo - Long Code: 1254</span>
                            <hr>
                            <span>Enviados: 4096</span>
                        </div>
                    </div>

                    <div class="col-md-7 mb-4">
                        <div class="container-sms">
                            <div class="row">
                                <div class="col-12 mb-3">
                                    <h1 class="border-bottom marketing-heading">Novo envio de SMS</h1>
                                </div>
                            </div>

                            <form action="">
                                <div class="row">
                                    <div class="col-1 mt-1">Para:</div>
                                    <div class="col-3">
                                        <select class="form-control">
                                            <option selected>Pessoa</option>
                                            <option value="1">Todas as pessoas</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                    <div class="col-1 text-center mt-1 p-0 m-0  ">ou</div>
                                    <div class="col-3">
                                        <select class="form-control">
                                            <option selected>Grupo</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                    <div class="col-1 text-center mt-1">ou</div>
                                    <div class="col-3">
                                        <select class="form-control">
                                            <option selected>Campanha</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="row no-gutters mt-4 p-2" style="background-color: #f3f4f5;">
                                    <div class="col-6 col-md-8">
                                        <span style="font-size: 20px; font-weight: 500;">Mensagem</span>
                                    </div>

                                    <div class="col-6 col-md-4 text-right">
                                        <button class="btn btn-light bg-white border"><i class="far fa-file-alt"></i> Modelo de Mensagens</button>
                                    </div>
                                </div>

                                <div class="row no-gutters">
                                    <div class="col-12">
                                        <textarea name="msg" id="sms-msg" cols="30" rows="5" class="w-100" maxlength="160" style="border: 1px solid #ccc" placeholder="Digite sua mensagem ..."></textarea>
                                    </div>
                                    <div class="col-12" style="margin: -10px 0 15px 0">
                                        <small>* Caso deseje personalizar com nomes nas suas mensagens digite :name</small>
                                    </div>
                                    <div class="col-12 text-center mt-2">
                                        <strong id="text-progress">Caracteres restantes 0/160</strong>
                                        <div class="progress">
                                            <div id="progressbar" class="progress-bar progress-bar-striped text-center bg-danger" role="progressbar">
                                                <strong id="progressbar-percent"></strong>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row no-gutters mt-4">
                                    <div class="col-12 col-md-4 form-inline mb-4">
                                        <label class="mr-2">Tipo de SMS:</label>
                                        <select class="form-control col-6">
                                            <option selected>Short Code</option>
                                            <option value="1">Long Code</option>
                                            <option value="2">Flash SMS</option>
                                        </select>
                                    </div>

                                    <div class="col-12 col-md-6 form-inline mb-4">
                                        <label class="mr-2">Data do agendamento:</label>
                                        <input type="datetime-local" class="form-control" name="data-agendamento">
                                    </div>

                                    <div class="col-12 col-md-2 text-right">
                                        <button class="btn btn-success px-3" type="button"><i class="fas fa-check-circle"></i> Enviar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <img src="../../img/mobile.png" class="img-fluid" alt="mobile" style="position: relative;">
                        <div class="row mobile-container">
                            <div class="col-12">
                                <div class="mobile-msg"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="pre-footer">
        <img src="../../img/logo-footer.png">
        <p>© 2020</p>
    </div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"></script>
<script src="../../js/moment-with-locales.js"></script>
<script src="../../js/custom.js"></script>
<script type="text/javascript">
    $(document).ready(function() {

        $('#sms-msg').keyup(function () {
            $('.mobile-msg').text(this.value);
        });

        $('#sms-msg').keyup(function () {
            var total   = this.getAttribute('maxlength');
            var now     = this.value.length;
            var percent = now / total * 100;

            $('#progressbar').css('width', percent + '%');
            $('#progressbar-percent').text(percent.toFixed(0) + '%');
            $('#text-progress').text('Caracteres restantes '+ now +'/160');
        });

    });
</script>
</body>
</html>