<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css"/>
    <script src="https://kit.fontawesome.com/573dc28405.js" crossorigin="anonymous"></script>
    <style type="text/css">
        #main { min-height: calc(100vh - 252px); }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.css" integrity="sha512-/zs32ZEJh+/EO2N1b0PEdoA10JkdC3zJ8L5FTiQu82LR9S/rOQNfQN7U59U9BC12swNeRAz3HSzIL2vpp4fv3w==" crossorigin="anonymous" />
</head>
<body>

    <!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-light" id="nav-header">
        <button id="toggle" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto nav-fill w-100 align-items-start">

                <li class="nav-item header-item">
                    <a href="dashboard.html"><img src="img/logo-nav.png"/></a>
                </li>

                <li class="nav-item header-item center">
                    <a href="#"><i class="fas fa-expand" id="ico-fullscreen"></i></a>
                </li>

                <li class="divider"></li>

                <li class="nav-item header-item right center header-color">
                    <span class="font-weight-bold">Escritório: </span>
                </li>

                <li class="nav-item header-item left">
                    <div class="dropdown">

                        <button class="btn btn-light dropdown-toggle header-color" type="button" id="dropdownLocal" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ Deputado Estadual Alex Redano - Ariquemes }}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownLocal">
                            <a class="dropdown-item" href="#">{{ list item }}</a>
                        </div>
                    </div>
                </li>

                <li class="divider"></li>

                <li class="nav-item header-item right">
                    <img src="img/user-avatar.png" id="user-avatar"/>
                </li>

                <li class="nav-item header-item left">
                    <div class="dropdown">

                        <button class="btn btn-light dropdown-toggle header-color" type="button" id="dropdownMenuButtonAvatar" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ Thiago de Souza Bueno }}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonAvatar">
                            <a class="dropdown-item" href="#">{{ list item }}</a>
                        </div>
                    </div>
                </li>

                <li class="divider"></li>

                <li class="nav-item header-item center">
                    <a href="#"><i class="fas fa-cog icon-notify"></i></a>
                    <a href="#"><i class="far fa-play-circle icon-notify"></i></a>
                    <a href="#"><i class="fas fa-dollar-sign icon-notify"></i></a>
                    <a href="#"><i class="far fa-bell icon-notify"></i></a>
                </li>

                <li class="divider"></li>

                <li class="nav-item header-item center header-color">
                    <i class="fas fa-headset"></i><span class="font-weight-bold">  Suporte: </span> <span>(99) 9999-9999</span>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Menu principal -->
    <nav class="navbar navbar-expand-lg navbar-light" id="nav-menu">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent1">
            <ul class="navbar-nav mr-auto nav-fill w-100 align-items-start">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="menu-item"><i class="fas fa-user"></i> Cadastro</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                        <a class="dropdown-item" href="../Cadastros/pessoas.index.html">Pessoas</a>
                        <a class="dropdown-item" href="../Cadastros/organizacoes.index.html">Organizações</a>
                        <a class="dropdown-item" href="../Cadastros/usuario.index.html">Usuário</a>
                        <a class="dropdown-item" href="../Cadastros/escritorio.index.html">Escritório</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="menu-item"><i class="fas fa-user-tie"></i> Atendimento</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                        <a class="dropdown-item" href="../Atendimento/agenda.index.html">Agenda</a>
                        <a class="dropdown-item" href="../Atendimento/solicitacoes.index.html">Solicitações</a>
                        <a class="dropdown-item" href="#">Reivindicações</a>
                        <a class="dropdown-item" href="#">Visitas</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="menu-item"><i class="fas fa-gavel"></i> Legislativo</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
                        <a class="dropdown-item" href="../Proposicoes/proposicoes.index.html">Solicitações</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown4" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="menu-item"><i class="fas fa-map-marked-alt"></i> GEO</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown4">
                        <a class="dropdown-item" href="#">Geolocalização</a>
                        <a class="dropdown-item" href="#">Eleições</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown5" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="menu-item"><i class="fas fa-envelope"></i> Marketing</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown5">
                        <a class="dropdown-item" href="#">E-mail Marketing</a>
                        <a class="dropdown-item" href="#">Envia SMS</a>
                        <a class="dropdown-item" href="#">Envia Whatsapp</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown6" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="menu-item"><i class="fas fa-hand-holding-usd"></i> Financeiro</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown6">
                        <a class="dropdown-item" href="#">Movimentação</a>
                        <a class="dropdown-item" href="#">Fornecedor</a>
                        <a class="dropdown-item" href="#">Plano de Contas</a>
                        <a class="dropdown-item" href="#">Contas Bancárias</a>
                        <a class="dropdown-item" href="#">DRE</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown7" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="menu-item"><i class="fas fa-file-alt"></i> GED</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown7">
                        <a class="dropdown-item" href="#">Arquivo</a>
                        <a class="dropdown-item" href="#">Digitalização</a>
                        <a class="dropdown-item" href="#">OCR</a>
                        <a class="dropdown-item" href="#">Ficha de Cadastro</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown8" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="menu-item"><i class="fas fa-print"></i> Relatórios</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown8">
                        <a class="dropdown-item" href="#">Cadastro</a>
                        <a class="dropdown-item" href="#">Atendimento</a>
                        <a class="dropdown-item" href="#">Geo</a>
                        <a class="dropdown-item" href="#">Comunicação</a>
                        <a class="dropdown-item" href="#">Financeiro</a>
                        <a class="dropdown-item" href="#">Produtividade</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown9" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="menu-item"><i class="fas fa-cog"></i> Configurações</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown9">
                        <a class="dropdown-item" href="#">Status do Atendimento</a>
                        <a class="dropdown-item" href="#">Grupo de Eleitores</a>
                        <a class="dropdown-item" href="#">Origem dos Atendimentos</a>
                        <a class="dropdown-item" href="#">Usuários</a>
                        <a class="dropdown-item" href="#">Meu Plano</a>
                        <a class="dropdown-item" href="#">Backup de Dados</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <div id="main">
        <div class="card">
            <div class="card-header">
                <h5>Dashboard</h5>
            </div>
            <div class="card-body" style="background-color: #f3f4f5">
                <!------ Pessoas --------->
                <div class="row">
                    <div class="col-12 col-md-4 mb-4">
                        <a class="btn btn-light dash-btn mr-5">Pessoas</a>
                        <a class="btn btn-light dash-btn"><img src="img/ico-cadastro.png" alt="ico-cadastro" class="mr-2"> Novo Cadastro</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-2">
                        <div class="dash-wrapper">
                            <div class="form-row dash-card" style="min-height: 150px">
                                <div class="col-12 dash-header">Total de contatos</div>
                                <div class="col-12 dash-content" style="margin: 2px 0">
                                    <img src="img/ico-user.png" class="dash-icon-big" alt="ico-user">
                                    <span class="dash-number-big"> 357</span> <span style="font-size: 16px; font-weight: 500">pessoas</span>
                                </div>
                                <div class="col-12 dash-footer"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 mb-2" style="padding: 0 60px;">
                        <canvas id="dash-grafico" width="400" height="120"></canvas>
                        <div class="row mt-1">
                            <div class="col-5 col-md-4 pr-0">
                                <input type="date" class="form-control">
                            </div>
                            <div class="col-5 col-md-4">
                                <input type="date" class="form-control">
                            </div>
                            <div class="col-2 col-md-2 pl-0">
                                <button class="btn btn-light"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-4">
                        <table id="aniversariantes" class="table table-sm table-bordered table-striped table-hover mt-0">
                            <thead>
                            <tr><th colspan="2">Aniversariantes do Dia</th></tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Fulano da Silva</td>
                                <td>20/12/1985</td>
                            </tr>
                            <tr>
                                <td>Fulano da Silva</td>
                                <td>20/12/1985</td>
                            </tr>
                            <tr>
                                <td>Fulano da Silva</td>
                                <td>20/12/1985</td>
                            </tr>
                            <tr>
                                <td>Fulano da Silva</td>
                                <td>20/12/1985</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!------ Solicitações --------->
                <div class="row mt-5">
                    <div class="col-12 col-md-12 mb-4">
                        <a class="btn btn-light dash-btn mr-5">Atendimento</a>
                        <a class="btn btn-light dash-btn"><img src="img/ico-nova-solicitacao.png" alt="ico-solicitacao" class="mr-2"> Nova Solicitação</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-2">
                        <div class="dash-wrapper">
                            <div class="form-row dash-card" style="height: 140px">
                                <div class="col-12 dash-header">Total de Solicitações</div>
                                <div class="col-12 dash-content" style="margin: 10px 0">
                                    <span class="dash-number-big"> 109</span>
                                </div>
                                <div class="col-12 dash-footer">&nbsp;</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-md d-flex align-items-end">
                        <div class="dash-wrapper w-75">
                            <div class="form-row dash-card border-dark-blue">
                                <div class="col-12 dash-header">Aberto</div>
                                <div class="col-12 dash-content">
                                    <span class="dash-number color-dark-blue"> 10</span>
                                </div>
                                <div class="col-12 dash-footer">09% da base</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-md d-flex align-items-end">
                        <div class="dash-wrapper w-75">
                            <div class="form-row dash-card border-yellow">
                                <div class="col-12 dash-header">Em Andamento</div>
                                <div class="col-12 dash-content">
                                    <span class="dash-number color-yellow"> 10</span>
                                </div>
                                <div class="col-12 dash-footer">09% da base</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-md d-flex align-items-end">
                        <div class="dash-wrapper w-75">
                            <div class="form-row dash-card border-green">
                                <div class="col-12 dash-header">Resolvido</div>
                                <div class="col-12 dash-content">
                                    <span class="dash-number color-green"> 10</span>
                                </div>
                                <div class="col-12 dash-footer">09% da base</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-md d-flex align-items-end">
                        <div class="dash-wrapper w-75">
                            <div class="form-row dash-card border-red">
                                <div class="col-12 dash-header">Não Resolvido</div>
                                <div class="col-12 dash-content">
                                    <span class="dash-number color-red"> 10</span>
                                </div>
                                <div class="col-12 dash-footer">09% da base</div>
                            </div>
                        </div>
                    </div>
                </div>

                <!------ Reivindicacoes --------->
                <div class="row mt-5">
                    <div class="col-12 col-md-2">
                        <div class="dash-wrapper">
                            <div class="form-row dash-card" style="height: 140px">
                                <div class="col-12 dash-header">Total de Reivindicações</div>
                                <div class="col-12 dash-content" style="margin: 10px 0">
                                    <span class="dash-number-big"> 109</span>
                                </div>
                                <div class="col-12 dash-footer">&nbsp;</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-md d-flex align-items-end">
                        <div class="dash-wrapper w-75">
                            <div class="form-row dash-card border-red color-red">
                                <div class="col-12 dash-header text-center">Reclamação</div>
                                <div class="col-12 dash-header text-center"><img src="img/ico-reclamacao.png" alt="reclamacao" class="dash-icons"></div>
                                <div class="col-12 dash-content">
                                    <span class="dash-number"> 10</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-md d-flex align-items-end">
                        <div class="dash-wrapper w-75">
                            <div class="form-row dash-card border-light-blue color-light-blue">
                                <div class="col-12 dash-header text-center">Elogio</div>
                                <div class="col-12 dash-header text-center"><img src="img/ico-elogio.png" alt="reclamacao" class="dash-icons"></div>
                                <div class="col-12 dash-content">
                                    <span class="dash-number"> 10</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-md d-flex align-items-end">
                        <div class="dash-wrapper w-75">
                            <div class="form-row dash-card border-yellow color-yellow">
                                <div class="col-12 dash-header text-center">Sugestão</div>
                                <div class="col-12 dash-header text-center"><img src="img/ico-sugestao.png" alt="reclamacao" class="dash-icons"></div>
                                <div class="col-12 dash-content">
                                    <span class="dash-number"> 10</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-md d-flex align-items-end">
                        <div class="dash-wrapper w-75">
                            <div class="form-row dash-card border-orange color-orange">
                                <div class="col-12 dash-header text-center">Denúncia</div>
                                <div class="col-12 dash-header text-center"><img src="img/ico-denuncia.png" alt="reclamacao" class="dash-icons"></div>
                                <div class="col-12 dash-content">
                                    <span class="dash-number"> 10</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-md d-flex align-items-end">
                        <div class="dash-wrapper w-75">
                            <div class="form-row dash-card border-grey color-grey">
                                <div class="col-12 dash-header text-center">Solicitação</div>
                                <div class="col-12 dash-header text-center"><img src="img/ico-solicitacao.png" alt="reclamacao" class="dash-icons"></div>
                                <div class="col-12 dash-content">
                                    <span class="dash-number"> 10</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-md d-flex align-items-end">
                        <div class="dash-wrapper w-75">
                            <div class="form-row dash-card border-dark-blue color-dark-blue">
                                <div class="col-12 dash-header text-center">Contato</div>
                                <div class="col-12 dash-header text-center"><img src="img/ico-contato.png" alt="reclamacao" class="dash-icons"></div>
                                <div class="col-12 dash-content">
                                    <span class="dash-number"> 10</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!------ Tabela --------->
                <div class="row mt-5">
                    <div class="col-12 col-md-1 mb-2"><a class="btn btn-light dash-btn">Agenda</a></div>
                    <div class="col-12 col-md-2 pt-1">
                        <select class="form-control">
                            <option selected>Filtrar por usuário</option>
                            <option value=""></option>
                        </select>
                    </div>
                    <div class="col-12 col-md-2 pt-1">
                        <input type="date" class="form-control">
                    </div>
                    <div class="col-12 col-md-1 mb-2"><a class="btn btn-light dash-btn"><i class="fas fa-search"></i> Filtrar</a></div>
                    <div class="col-12 col-md-3"><a class="btn btn-light dash-btn"><i class="fas fa-calendar-alt"></i> Novo compromisso</a></div>

                    <div class="col-12">
                        <table class="table table-sm table-striped table-bordered table-hover">
                            <thead>
                            <tr>
                                <th scope="col">Compromisso</th>
                                <th scope="col">Usuário</th>
                                <th scope="col">Data e Hora</th>
                                <th scope="col">Pessoa</th>
                                <th scope="col">Organização</th>
                                <th scope="col">Status</th>
                                <th scope="col">Ações</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="concluido">Concluído</td>
                                <td class="action-column">
                                    <a href="#"><button class="btn btn-primary fas fa-search"></button></a>
                                    <a href="#"><button class="btn btn-warning fas fa-edit"></button></a>
                                    <a href="#"><button class="btn btn-danger fas fa-trash"></button></a>
                                    <button class="btn-sm btn-success fas fa-caret-square-down dropdown-toggle caret-off" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Imprimir A4</a>
                                        <a class="dropdown-item" href="#">Enviar E-mail</a>
                                        <a class="dropdown-item" href="#">Enviar SMS</a>
                                        <a class="dropdown-item" href="https://api.whatsapp.com/send?phone=5569999843005&text=Mensagem+de+teste+whatsapp+web&source&data&lang=pt_br" target="_blank">Enviar WhatsApp</a>
                                        <a class="dropdown-item" data-toggle="modal" data-target="#HistoricoModal" href="#">Visualizar Histórico</a>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="pre-footer">
        <img src="img/logo-footer.png">
        <p>© 2020</p>
    </div>
    
    <div id="footer">
        <!-- Footer -->
        <nav class="navbar navbar-expand-lg navbar-light" id="nav-footer">
            <div class="collapse navbar-collapse" id="navbarSupportedContent2">
                <ul class="navbar-nav mr-auto nav-fill w-100 align-items-start">

                    <li class="nav-item footer-item">
                        <span class=""><i class="fas fa-map-marker-alt"></i> Av. Tabapuã, 3048 - Sala 05 - St. 03, Ariquemes - RO</span>
                    </li>

                    <li class="divider-footer"></li>

                    <li class="nav-item footer-item">
                        <span class=""><i class="fas fa-envelope"></i> contato@gerencimeugabinete.com.br</span>
                    </li>

                    <li class="divider-footer"></li>

                    <li class="nav-item footer-item">
                        <span class=""><i class="fas fa-cloud-upload-alt"></i> Último backup realizado dia: <span class="font-weight-bold">{{ date }}</span></span>
                    </li>

                    <li class="divider-footer"></li>

                    <li class="nav-item footer-item">
                        <span class=""><i class="fas fa-lock"></i> Versão 1.0</span>
                    </li>

                    <li class="divider-footer"></li>

                    <li class="nav-item footer-item">
                        <span class=""><i class="fas fa-globe"></i>
                            www.<span class="font-weight-bold" style="font-size: 15px;">gerenciemeugabinete</span>.com.br
                        </span>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.min.js" integrity="sha512-SuxO9djzjML6b9w9/I07IWnLnQhgyYVSpHZx0JV97kGBfTIsUYlWflyuW4ypnvhBrslz1yJ3R+S14fdCWmSmSA==" crossorigin="anonymous"></script>
    <script>
        var ctx = document.getElementById('dash-grafico').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ['Jan/2020', 'Fev/2020', 'Mar/2020', 'Abr/2020', 'Mai/2020', 'Jun/2020'],
                datasets: [{
                    label: 'Evolução da Base de Dados',
                    data: [0, 0, 0, 0, 5, 10],
                    backgroundColor: [
                        'rgba(54, 162, 235, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(54, 162, 235, 1)'
                    ],
                    borderColor: [
                        'rgba(54, 162, 235, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(54, 162, 235, 1)'
                    ],
                    borderWidth: 1,
                    fill: false,
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                },
            }
        });
    </script>
</body>
</html>