<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
    <title>Gerencie Meu Gabinete</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/styles.css"/>
    <script src="https://kit.fontawesome.com/573dc28405.js" crossorigin="anonymous"></script>
</head>
<body>

    <!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-light" id="nav-header">
        <button id="toggle" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto nav-fill w-100 align-items-start">

                <li class="nav-item header-item">
                    <a href="../dashboard.html"><img src="../img/logo-nav.png"/></a>
                </li>

                <li class="nav-item header-item center">
                    <a href="#"><i class="fas fa-expand" id="ico-fullscreen"></i></a>
                </li>

                <li class="divider"></li>

                <li class="nav-item header-item right center header-color">
                    <span class="font-weight-bold">Escritório: </span>
                </li>

                <li class="nav-item header-item left">
                    <div class="dropdown">

                        <button class="btn btn-light dropdown-toggle header-color" type="button" id="dropdownLocal" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ Deputado Estadual Alex Redano - Ariquemes }}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownLocal">
                            <a class="dropdown-item" href="#">{{ list item }}</a>
                        </div>
                    </div>
                </li>

                <li class="divider"></li>

                <li class="nav-item header-item right">
                    <img src="../img/user-avatar.png" id="user-avatar"/>
                </li>

                <li class="nav-item header-item left">
                    <div class="dropdown">

                        <button class="btn btn-light dropdown-toggle header-color" type="button" id="dropdownMenuButtonAvatar" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ Thiago de Souza Bueno }}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonAvatar">
                            <a class="dropdown-item" href="#">{{ list item }}</a>
                        </div>
                    </div>
                </li>

                <li class="divider"></li>

                <li class="nav-item header-item center">
                    <a href="#"><i class="fas fa-cog icon-notify"></i></a>
                    <a href="#"><i class="far fa-play-circle icon-notify"></i></a>
                    <a href="#"><i class="fas fa-dollar-sign icon-notify"></i></a>
                    <a href="#"><i class="far fa-bell icon-notify"></i></a>
                </li>

                <li class="divider"></li>

                <li class="nav-item header-item center header-color">
                    <i class="fas fa-headset"></i><span class="font-weight-bold">  Suporte: </span> <span>(99) 9999-9999</span>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Menu principal -->
    <nav class="navbar navbar-expand-lg navbar-light" id="nav-menu">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent1">
            <ul class="navbar-nav mr-auto nav-fill w-100 align-items-start">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="menu-item"><i class="fas fa-user"></i> Cadastro</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                        <a class="dropdown-item" href="../Cadastros/pessoas.index.html">Pessoas</a>
                        <a class="dropdown-item" href="../Cadastros/organizacoes.index.html">Organizações</a>
                        <a class="dropdown-item" href="../Cadastros/usuario.index.html">Usuário</a>
                        <a class="dropdown-item" href="../Cadastros/escritorio.index.html">Escritório</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="menu-item"><i class="fas fa-user-tie"></i> Atendimento</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                        <a class="dropdown-item" href="../Atendimento/agenda.index.html">Agenda</a>
                        <a class="dropdown-item" href="../Atendimento/solicitacoes.index.html">Solicitações</a>
                        <a class="dropdown-item" href="#">Reivindicações</a>
                        <a class="dropdown-item" href="#">Visitas</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="menu-item"><i class="fas fa-gavel"></i> Legislativo</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
                        <a class="dropdown-item" href="/proposicoes.index.html">Solicitações</a>
                        <a class="dropdown-item" href="/emendas.index.html">Emendas</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown4" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="menu-item"><i class="fas fa-map-marked-alt"></i> GEO</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown4">
                        <a class="dropdown-item" href="#">Geolocalização</a>
                        <a class="dropdown-item" href="#">Eleições</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown5" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="menu-item"><i class="fas fa-envelope"></i> Marketing</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown5">
                        <a class="dropdown-item" href="#">E-mail Marketing</a>
                        <a class="dropdown-item" href="#">Envia SMS</a>
                        <a class="dropdown-item" href="#">Envia Whatsapp</a>
                    </div>
                </li>
                <!--
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown6" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="menu-item"><i class="fas fa-hand-holding-usd"></i> Financeiro</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown6">
                        <a class="dropdown-item" href="#">Movimentação</a>
                        <a class="dropdown-item" href="#">Fornecedor</a>
                        <a class="dropdown-item" href="#">Plano de Contas</a>
                        <a class="dropdown-item" href="#">Contas Bancárias</a>
                        <a class="dropdown-item" href="#">DRE</a>
                    </div>
                </li>
                -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown7" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="menu-item"><i class="fas fa-file-alt"></i> GED</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown7">
                        <a class="dropdown-item" href="#">Arquivo</a>
                        <a class="dropdown-item" href="#">Digitalização</a>
                        <a class="dropdown-item" href="#">OCR</a>
                        <a class="dropdown-item" href="#">Ficha de Cadastro</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown8" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="menu-item"><i class="fas fa-print"></i> Relatórios</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown8">
                        <a class="dropdown-item" href="#">Cadastro</a>
                        <a class="dropdown-item" href="#">Atendimento</a>
                        <a class="dropdown-item" href="#">Geo</a>
                        <a class="dropdown-item" href="#">Comunicação</a>
                        <a class="dropdown-item" href="#">Financeiro</a>
                        <a class="dropdown-item" href="#">Produtividade</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown9" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="menu-item"><i class="fas fa-cog"></i> Configurações</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown9">
                        <a class="dropdown-item" href="#">Status do Atendimento</a>
                        <a class="dropdown-item" href="#">Grupo de Eleitores</a>
                        <a class="dropdown-item" href="#">Origem dos Atendimentos</a>
                        <a class="dropdown-item" href="#">Usuários</a>
                        <a class="dropdown-item" href="#">Meu Plano</a>
                        <a class="dropdown-item" href="#">Backup de Dados</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Conteudo -->
    <div id="main">
        <div class="card">
            <div class="card-header">
                <h5>Emendas</h5>
            </div>
            <div class="card-body ">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <i class="fas fa-angle-double-right"></i><li class="breadcrumb-item">Legislativo / Emendas</li>
                    </ol>
                </nav>

                <div class="row">
                    <div class="col-2">
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#CadastroModal"><i class="fas fa-sticky-note"></i> Nova Emenda</button>
                    </div>
                    <div class="col-5">
                        <div class="row">
                            <div class="col-6">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <button class="btn btn-outline-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" id="hoje" href="#">Hoje</a>
                                            <a class="dropdown-item" id="semana" href="#">Esta semana</a>
                                            <a class="dropdown-item" id="mes" href="#">Este mês</a>
                                            <a class="dropdown-item" id="periodo" href="#">Escolha o periodo</a>
                                        </div>
                                    </div>
                                    <input id="date-dynamic" type="date" class="form-control" aria-label="Data" value="">
                                </div>
                            </div>
                            <div class="col-1 mt-1">
                                <label id="label-ate" class="">Até</label>
                            </div>
                            <div class="col-5">
                                <input class="form-control" type="date" id="dt-fim">
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Pesquisar por" aria-label="Pesquisar por" aria-describedby="button-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-outline-primary" type="button" id="button-addon2"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <a href="#" >
                            <button id="toggle-search" class="btn btn-primary"><i class="fas fa-search-plus"></i> Busca Avançada</button>
                        </a>
                    </div>
                </div>

                <!-- Cadastro Modal -->
                <div class="modal fade" id="CadastroModal" tabindex="-1" role="dialog" aria-labelledby="CadastroModalTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="ModalLongTitle">Dados da Emenda</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                    <span aria-hidden="true">X</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-row">
                                    <div class="form-group col-sm-3">
                                        <label for="organizacao-new">Destino (Organização)</label>
                                        <select id="organizacao-new" class="form-control">
                                            <option selected></option>
                                            <option value=""> list_organizacao </option>
                                        </select>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label for="objeto-new">Objeto da Emenda</label>
                                        <input class="form-control" type="text" id="objeto-new">
                                    </div>
                                    <div class="form-group col-sm-3">
                                        <label for="processo-new">Número do Processo</label>
                                        <input class="form-control" type="text" id="processo-new">
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-sm-2">
                                        <label for="valor-new">Valor R$</label>
                                        <input class="form-control" type="text" id="valor-new">
                                    </div>
                                    <div class="form-group col-sm-1">
                                        <label for="ano-new">Ano Orçam.</label>
                                        <select id="ano-new" class="form-control">
                                            <option selected></option>
                                            <option value=""> list_ano </option>
                                        </select>
                                    </div>
                                    <div class="form-group col-sm-2">
                                        <label for="fonte-new">Fonte dos Recursos</label>
                                        <select id="fonte-new" class="form-control">
                                            <option selected></option>
                                            <option value=""> list_autoria </option>
                                        </select>
                                    </div>
                                    <div class="form-group col-sm-2">
                                        <label for="tematica-new">Área Temática</label>
                                        <select id="tematica-new" class="form-control">
                                            <option selected></option>
                                            <option value=""> list_tematica </option>
                                        </select>
                                    </div>
                                    <div class="form-group col-sm-2">
                                        <label for="sol-ind-new">Indicação</label>
                                        <select id="sol-ind-new" class="form-control">
                                            <option selected></option>
                                            <option value=""> list_tematica </option>
                                        </select>
                                    </div>
                                    <div class="form-group col-sm-2">
                                        <label for="dt-inicial">Dt. Inicial</label>
                                        <input class="form-control" type="date" id="dt-inicial">
                                    </div>
                                    <div class="form-group col-sm-1">
                                        <label for="prazo">Prazo</label>
                                        <input class="form-control" type="text" id="prazo">
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-1">
                                        <label for="uf">UF</label>
                                        <select id="uf" class="form-control">
                                            <option selected></option>
                                            <option value="">list_uf</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label for="cidade-new">Cidade</label>
                                        <select id="cidade-new" class="form-control">
                                            <option selected></option>
                                            <option value="">list_cidades</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-3">
                                        <label for="orgao-new">Orgão de Convênio</label>
                                        <select id="orgao-new" class="form-control">
                                            <option selected></option>
                                            <option value="">list_convenio</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-sm-2">
                                        <label for="situacao-new">Situação</label>
                                        <select id="situacao-new" class="form-control">
                                            <option selected></option>
                                            <option value="" class="pago">Pago</option>
                                            <option value="" class="empenhado">Empenhado</option>
                                            <option value="" class="cancelado">Cancelado</option>
                                            <option value="" class="nao-empenhado">Não Empenhado</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-sm-2">
                                        <label for="dt-situacao">Data da Situação</label>
                                        <input class="form-control" type="date" id="dt-situacao">
                                    </div>
                                    <div class="form-group col-sm-2">
                                        <label for="prioridade-new">Prioridade</label>
                                        <div class="btn-group" role="group" id="prioridade-new">
                                            <button type="button" class="btn text-white mr-1" style="background-color: #f58634">Normal</button>
                                            <button type="button" class="btn text-white px-4" style="background-color: #00598c">Alta</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-6">
                                        <label for="obs">Informação adicional:</label>
                                        <textarea class="form-control" id="obs" name="obs" rows="3" cols="70"></textarea>
                                    </div>
                                    <div class="form-group col-3">
                                        <label></label>
                                        <div class="input-group mt-2">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="inputGroupFile02">
                                                <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">+ Anexar arquivos</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-3 pt-5 d-flex justify-content-end align-self-end">
                                        <label>&nbsp;</label>
                                        <div class="form-row">
                                            <div class="form-group col-xs-6 mr-2">
                                                <button type="submit" class="btn btn-success"><i class="far fa-check-circle"></i> Salvar</button>
                                            </div>
                                            <div class="form-group col-xs-6">
                                                <button type="reset" class="btn btn-danger"><i class="far fa-times-circle"></i> Limpar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- Modal Cadastro Area de Interesse -->
                <div class="modal fade" id="CadastroAreaModal" tabindex="-1" role="dialog" aria-labelledby="CadastroAreaModalTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="CadastroAreaModalTitle">Cadastro Área de Interesse</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body" style="/*background-color: #00678c; color: white*/">
                                <form>
                                    <div class="form-row">
                                        <div class="form-group col-12">
                                            <label for="area-modal">Descrição</label>
                                            <input type="text" class="form-control" id="area-modal">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-success"><i class="far fa-check-circle mr-2"></i> Salvar</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="advanced-search">
                    <form>
                        <div class="form-row">
                            <div class="form-group col-sm-2">
                                <label for="destino">Destino (Organização)</label>
                                <input class="form-control" type="text" id="destino">
                            </div>
                            <div class="form-group col-sm-3">
                                <label for="objeto">Objeto da Emenda</label>
                                <input class="form-control" type="text" id="objeto">
                            </div>
                            <div class="form-group col-sm-1">
                                <label for="ano">Ano Orçam.</label>
                                <select id="ano" class="form-control">
                                    <option selected></option>
                                    <option value="">list_ano</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-2">
                                <label for="fonte">Fonte dos Recursos</label>
                                <input class="form-control" type="text" id="fonte">
                            </div>
                            <div class="form-group col-sm-2">
                                <label for="sol-ind">Indicação</label>
                                <select id="sol-ind" class="form-control">
                                    <option selected></option>
                                    <option value="">list_sol</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-2">
                                <label for="cidade">Cidade</label>
                                <select id="cidade" class="form-control">
                                    <option selected></option>
                                    <option value="">list_cidades</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-1">
                                <label for="valor">Valor R$</label>
                                <input class="form-control" type="text" id="valor">
                            </div>
                            <div class="form-group col-sm-2">
                                <label for="situacao">Situação</label>
                                <select id="situacao" class="form-control">
                                    <option selected></option>
                                    <option value=""> list_situacoes </option>
                                </select>
                            </div>
                            <div class="form-group col-sm-2">
                                <label for="orgao">Orgão de Convênio</label>
                                <select id="orgao" class="form-control">
                                    <option selected></option>
                                    <option value=""> list_orgao </option>
                                </select>
                            </div>
                            <div class="form-group col-sm-2">
                                <label for="tematica">Área Temática</label>
                                <select id="tematica" class="form-control">
                                    <option selected></option>
                                    <option value=""> list_tematica </option>
                                </select>
                            </div>
                            <div class="form-group col-sm-1">
                                <label for="prioridade">Prioridade</label>
                                <select id="prioridade" class="form-control">
                                    <option selected></option>
                                    <option value=""> list_prioridade </option>
                                </select>
                            </div>
                            <div class="col-1">
                                <button id="submit-advanced" class="btn btn-success" type="submit"><i class="far fa-check-circle"></i> Buscar</button>
                            </div>
                            <div class="col-1">
                                <button id="reset-advanced" class="btn btn-danger" type="reset"><i class="far fa-times-circle"></i> Limpar</button>
                            </div>
                            <div class="col-2">
                                <button id="imprimir-advanced" class="btn btn-info" type="reset"><i class="fas fa-print"></i> Imprimir</button>
                            </div>
                        </div>
                    </form>
                </div>

                <table class="table table-sm table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Destino (Organização)</th>
                        <th scope="col">Objeto da Emenda</th>
                        <th scope="col">Valor</th>
                        <th scope="col">Ano</th>
                        <th scope="col">Cidade</th>
                        <th scope="col">Situação</th>
                        <th scope="col">Ações</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="pago">Pago</td>
                        <td class="action-column">
                            <a href="#"><button class="btn btn-primary fas fa-search"></button></a>
                            <a href="#"><button class="btn btn-warning fas fa-edit"></button></a>
                            <a href="#"><button class="btn btn-danger fas fa-trash"></button></a>
                            <button class="btn-sm btn-success fas fa-caret-square-down dropdown-toggle caret-off" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Imprimir A4</a>
                                <a class="dropdown-item" href="#">Enviar E-mail</a>
                                <a class="dropdown-item" href="#">Enviar SMS</a>
                                <a class="dropdown-item" href="https://api.whatsapp.com/send?phone=5569999843005&text=Mensagem+de+teste+whatsapp+web&source&data&lang=pt_br" target="_blank">Enviar WhatsApp</a>
                                <a class="dropdown-item" data-toggle="modal" data-target="#HistoricoModal" href="#">Visualizar Histórico</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="cancelado">Cancelado</td>
                        <td class="action-column">
                            <a href="#"><button class="btn btn-primary fas fa-search"></button></a>
                            <a href="#"><button class="btn btn-warning fas fa-edit"></button></a>
                            <a href="#"><button class="btn btn-danger fas fa-trash"></button></a>
                            <button class="btn-sm btn-success fas fa-caret-square-down dropdown-toggle caret-off" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Imprimir A4</a>
                                <a class="dropdown-item" href="#">Enviar E-mail</a>
                                <a class="dropdown-item" href="#">Enviar SMS</a>
                                <a class="dropdown-item" href="https://api.whatsapp.com/send?phone=5569999843005&text=Mensagem+de+teste+whatsapp+web&source&data&lang=pt_br" target="_blank">Enviar WhatsApp</a>
                                <a class="dropdown-item" data-toggle="modal" data-target="#HistoricoModal" href="#">Visualizar Histórico</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="empenhado">Empenhado</td>
                        <td class="action-column">
                            <a href="#"><button class="btn btn-primary fas fa-search"></button></a>
                            <a href="#"><button class="btn btn-warning fas fa-edit"></button></a>
                            <a href="#"><button class="btn btn-danger fas fa-trash"></button></a>
                            <button class="btn-sm btn-success fas fa-caret-square-down dropdown-toggle caret-off" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Imprimir A4</a>
                                <a class="dropdown-item" href="#">Enviar E-mail</a>
                                <a class="dropdown-item" href="#">Enviar SMS</a>
                                <a class="dropdown-item" href="https://api.whatsapp.com/send?phone=5569999843005&text=Mensagem+de+teste+whatsapp+web&source&data&lang=pt_br" target="_blank">Enviar WhatsApp</a>
                                <a class="dropdown-item" data-toggle="modal" data-target="#HistoricoModal" href="#">Visualizar Histórico</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="nao-empenhado">Não Empenhado</td>
                        <td class="action-column">
                            <a href="#"><button class="btn btn-primary fas fa-search"></button></a>
                            <a href="#"><button class="btn btn-warning fas fa-edit"></button></a>
                            <a href="#"><button class="btn btn-danger fas fa-trash"></button></a>
                            <button class="btn-sm btn-success fas fa-caret-square-down dropdown-toggle caret-off" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Imprimir A4</a>
                                <a class="dropdown-item" href="#">Enviar E-mail</a>
                                <a class="dropdown-item" href="#">Enviar SMS</a>
                                <a class="dropdown-item" href="https://api.whatsapp.com/send?phone=5569999843005&text=Mensagem+de+teste+whatsapp+web&source&data&lang=pt_br" target="_blank">Enviar WhatsApp</a>
                                <a class="dropdown-item" data-toggle="modal" data-target="#HistoricoModal" href="#">Visualizar Histórico</a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <div>
                    <nav class="paginator" aria-label="Page navigation">
                        <ul class="pagination justify-content-center">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">&laquo;</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">&raquo;</a>
                            </li>
                        </ul>
                    </nav>
                </div>

                <!-- Historico Modal -->
                <div class="modal fade" id="HistoricoModal" tabindex="-1" role="dialog" aria-labelledby="HistoricoModalTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="HistoricoModalLongTitle">Histórico</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-row">
                                    <table class="table table-sm table-striped table-bordered table-hover">
                                        <thead>
                                        <tr>
                                            <th scope="col">Data e Hora</th>
                                            <th scope="col">Descrição</th>
                                            <th scope="col">Responsável</th>
                                            <th scope="col">Editar</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>15/01/2020 08:00</td>
                                            <td>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley</td>
                                            <td>José da Silva</td>
                                            <td>
                                                <a href="#">
                                                    <button type="button" class="btn-sm btn-warning fas fa-edit"></button>
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#AddHistoricoModal"><i class="fas fa-history"></i> Adicionar Histórico</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Add Historico Modal -->
                <div class="modal fade" id="AddHistoricoModal" tabindex="-1" role="dialog" aria-labelledby="AddHistoricoModalTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="AddHistoricoModalLongTitle">Dados do Histórico</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-row">
                                    <div class="form-group col-sm-6">
                                        <label for="data-historico">Data e Hora</label>
                                        <input class="form-control" type="datetime-local" id="data-historico">
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label for="responsavel-historico">Responsável</label>
                                        <input class="form-control" type="text" id="responsavel-historico">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-12">
                                        <label for="obs-historico">Detalhes da Solicitação</label>
                                        <textarea class="form-control" id="obs-historico" name="obs" rows="5" cols="70"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-success" type="submit"><i class="far fa-check-circle"></i> Salvar</button>
                                <button class="btn btn-danger" type="reset"><i class="far fa-times-circle"></i> Limpar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="pre-footer">
        <img src="../img/logo-footer.png">
        <p>© 2020</p>
    </div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="../js/moment-with-locales.js"></script>
<script src="../js/custom.js"></script>

</body>
</html>