<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
    <title>Gerencie Meu Gabinete</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/styles-convite.css"/>
    <script src="https://kit.fontawesome.com/573dc28405.js" crossorigin="anonymous"></script>
</head>
<body>

    <div class="container-fluid">
        <div class="row p-2" id="header">
            <div class="col-12">
                <img src="../img/logo-nav.png"/>
            </div>
        </div>
        <div class="row p-3" id="title-bar">
            <div class="col-12">
                <h4>Equipe *Nome do Político</h4>
            </div>
        </div>
        <div class="row" id="conteudo">
            <div class="col-12">
                <div class="container" id="form">
                    <h1>Dados Adicionais</h1>
                    <hr>

                    <form action="">
                        <div class="form-row">
                            <div class="form-group col-12 col-md-6">
                                <label for="apelido">Apelido</label>
                                <input type="text" class="form-control" id="apelido">
                            </div>
                            <div class="form-group col-12 col-md-3">
                                <label for="civil">Estado Civil</label>
                                <select id="civil" class="form-control">
                                    <option selected></option>
                                    <option value="">{{ list_civil }}</option>
                                </select>
                            </div>
                            <div class="form-group col-12 col-md-3">
                                <label for="filhos">Filhos</label>
                                <select id="filhos" class="form-control">
                                    <option selected></option>
                                    <option value="">{{ list_filhos }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-12 col-md-6">
                                <label for="escolaridade">Escolaridade</label>
                                <select id="escolaridade" class="form-control">
                                    <option selected></option>
                                    <option value="">{{ list_escolaridade }}</option>
                                </select>
                            </div>
                            <div class="form-group col-12 col-md-6">
                                <label for="profissao">Profissão</label>
                                <select id="profissao" class="form-control">
                                    <option selected></option>
                                    <option value="">{{ list_profissaoe }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-12 col-md-6">
                                <label for="empresa">Empresa</label>
                                <input type="text" class="form-control" id="empresa">
                            </div>
                            <div class="form-group col-12 col-md-3">
                                <label for="telAdicional">Telefone Adicional</label>
                                <input type="text" class="form-control" id="telAdicional">
                            </div>
                            <div class="form-group col-12 col-md-3">
                                <label for="time">Time de Futebol</label>
                                <select id="time" class="form-control">
                                    <option selected></option>
                                    <option value="">{{ list_time }}</option>
                                </select>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-4">
                                <div class="form-group mr-2">
                                    <button type="submit" class="btn-lg btn-success"><i class="far fa-check-circle"></i> Salvar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row p-2" id="footer">
            <div class="col-12">
                <img src="../img/logo-footer.png">
                <p>© 2020</p>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>