<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
    <title>Gerencie Meu Gabinete</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/styles.css"/>
    <script src="https://kit.fontawesome.com/573dc28405.js" crossorigin="anonymous"></script>
</head>
<body>

<!-- Header -->
<nav class="navbar navbar-expand-lg navbar-light" id="nav-header">
    <button id="toggle" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto nav-fill w-100 align-items-start">

            <li class="nav-item header-item">
                <a href="../dashboard.html"><img src="../img/logo-nav.png"/></a>
            </li>

            <li class="nav-item header-item center">
                <a href="#"><i class="fas fa-expand" id="ico-fullscreen"></i></a>
            </li>

            <li class="divider"></li>

            <li class="nav-item header-item right center header-color">
                <span class="font-weight-bold">Matriz: </span>
            </li>

            <li class="nav-item header-item left">
                <div class="dropdown">

                    <button class="btn btn-light dropdown-toggle header-color" type="button" id="dropdownLocal" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ Deputado Estadual Alex Redano - Ariquemes }}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownLocal">
                        <a class="dropdown-item" href="#">{{ list item }}</a>
                    </div>
                </div>
            </li>

            <li class="divider"></li>

            <li class="nav-item header-item right">
                <img src="../img/user-avatar.png" id="user-avatar"/>
            </li>

            <li class="nav-item header-item left">
                <div class="dropdown">

                    <button class="btn btn-light dropdown-toggle header-color" type="button" id="dropdownMenuButtonAvatar" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ Thiago de Souza Bueno }}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonAvatar">
                        <a class="dropdown-item" href="#">{{ list item }}</a>
                    </div>
                </div>
            </li>

            <li class="divider"></li>

            <li class="nav-item header-item center">
                <a href="#"><i class="fas fa-cog icon-notify"></i></a>
                <a href="#"><i class="far fa-play-circle icon-notify"></i></a>
                <a href="#"><i class="fas fa-dollar-sign icon-notify"></i></a>
                <a href="#"><i class="far fa-bell icon-notify"></i></a>
            </li>

            <li class="divider"></li>

            <li class="nav-item header-item center header-color">
                <i class="fas fa-headset"></i><span class="font-weight-bold">  Suporte: </span> <span>(99) 9999-9999</span>
            </li>
        </ul>
    </div>
</nav>

<!-- Menu principal -->
<nav class="navbar navbar-expand-lg navbar-light" id="nav-menu">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent1">
        <ul class="navbar-nav mr-auto nav-fill w-100 align-items-start">

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="menu-item"><i class="fas fa-user"></i> Cadastro</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                    <a class="dropdown-item" href="../Cadastros/pessoas.index.html">Pessoas</a>
                    <a class="dropdown-item" href="../Cadastros/organizacoes.index.html">Organizações</a>
                    <a class="dropdown-item" href="../Cadastros/usuario.index.html">Usuário</a>
                    <a class="dropdown-item" href="../Cadastros/escritorio.index.html">Escritório</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="menu-item"><i class="fas fa-user-tie"></i> Atendimento</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                    <a class="dropdown-item" href="../Atendimento/agenda.index.html">Agenda</a>
                    <a class="dropdown-item" href="../Atendimento/solicitacoes.index.html">Solicitações</a>
                    <a class="dropdown-item" href="#">Reivindicações</a>
                    <a class="dropdown-item" href="#">Visitas</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="menu-item"><i class="fas fa-gavel"></i> Proposições</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
                    <a class="dropdown-item" href="../Legislativo/proposicoes.index.html">Solicitações</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown4" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="menu-item"><i class="fas fa-map-marked-alt"></i> GEO</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown4">
                    <a class="dropdown-item" href="#">Geolocalização</a>
                    <a class="dropdown-item" href="#">Eleições</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown5" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="menu-item"><i class="fas fa-envelope"></i> Comunicação</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown5">
                    <a class="dropdown-item" href="#">E-mail Marketing</a>
                    <a class="dropdown-item" href="#">Envia SMS</a>
                    <a class="dropdown-item" href="#">Envia Whatsapp</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown6" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="menu-item"><i class="fas fa-hand-holding-usd"></i> Financeiro</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown6">
                    <a class="dropdown-item" href="#">Movimentação</a>
                    <a class="dropdown-item" href="#">Fornecedor</a>
                    <a class="dropdown-item" href="#">Plano de Contas</a>
                    <a class="dropdown-item" href="#">Contas Bancárias</a>
                    <a class="dropdown-item" href="#">DRE</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown7" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="menu-item"><i class="fas fa-file-alt"></i> GED</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown7">
                    <a class="dropdown-item" href="#">Arquivo</a>
                    <a class="dropdown-item" href="#">Digitalização</a>
                    <a class="dropdown-item" href="#">OCR</a>
                    <a class="dropdown-item" href="#">Ficha de Cadastro</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown8" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="menu-item"><i class="fas fa-print"></i> Relatórios</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown8">
                    <a class="dropdown-item" href="#">Cadastro</a>
                    <a class="dropdown-item" href="#">Atendimento</a>
                    <a class="dropdown-item" href="#">Geo</a>
                    <a class="dropdown-item" href="#">Comunicação</a>
                    <a class="dropdown-item" href="#">Financeiro</a>
                    <a class="dropdown-item" href="#">Produtividade</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown9" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="menu-item"><i class="fas fa-cog"></i> Configurações</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown9">
                    <a class="dropdown-item" href="#">Status do Atendimento</a>
                    <a class="dropdown-item" href="#">Grupo de Eleitores</a>
                    <a class="dropdown-item" href="#">Origem dos Atendimentos</a>
                    <a class="dropdown-item" href="#">Usuários</a>
                    <a class="dropdown-item" href="#">Meu Plano</a>
                    <a class="dropdown-item" href="#">Backup de Dados</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<!-- Conteudo -->
<div id="main">
    <div class="card">
        <div class="card-header">
            <h5>Campanhas</h5>
        </div>
        <div class="card-body ">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <i class="fas fa-angle-double-right"></i><li class="breadcrumb-item">Cadastro</li>
                    <li class="breadcrumb-item active" aria-current="page">Equipes</li>
                </ol>
            </nav>

            <div class="row">
                <div class="col-2">
                    <a href="campanhas.new.html">
                        <button class="btn btn-success"><i class="fas fa-plus"></i> Nova Campanha</button>
                    </a>
                </div>
                <div class="col-4"></div>
                <div class="col-4">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Pesquisar por" aria-label="Pesquisar por" aria-describedby="button-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-outline-primary" type="button" id="button-addon2"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <a href="#" >
                        <button id="toggle-search" class="btn btn-primary"><i class="fas fa-search-plus"></i> Busca Avançada</button>
                    </a>
                </div>
            </div>

            <div id="advanced-search">
                <form>
                    <div class="form-row">
                        <div class="form-group col-sm-4">
                            <label for="campanha">Nome da Campanha</label>
                            <select id="campanha" class="form-control">
                                <option selected></option>
                            </select>
                        </div>
                        <div class="form-group col-sm-2">
                            <label for="status">Status</label>
                            <select id="status" class="form-control">
                                <option selected></option>
                                <option value=""></option>
                            </select>
                        </div>
                        <div class="form-group col-sm-2">
                            <label for="periodo-ini">Período Inicial</label>
                            <input class="form-control" type="date" id="periodo-ini">
                        </div>
                        <div class="form-group col-sm-2">
                            <label for="periodo-fim">Período Final</label>
                            <input class="form-control" type="date" id="periodo-fim">
                        </div>
                        <div class="form-group col-sm-2">
                            <label for="responsavel">Responsável</label>
                            <select id="responsavel" class="form-control">
                                <option selected></option>
                                <option value="">{{ list_responsavel }}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-sm-2">
                            <label for="equipe">Nome da Equipe</label>
                            <select id="equipe" class="form-control">
                                <option selected></option>
                                <option value=""></option>
                            </select>
                        </div>
                        <div class="form-group col-sm-2">
                            <label for="criada-por">Equipe Criada por</label>
                            <select id="criada-por" class="form-control">
                                <option selected></option>
                                <option value=""></option>
                            </select>
                        </div>
                        <div class="form-group col-sm-1" style="margin-top: -5px">
                            <button id="submit-advanced" class="btn btn-success" type="submit"><i class="far fa-check-circle"></i> Buscar</button>
                        </div>
                        <div class="form-group col-sm-1" style="margin-top: -5px">
                            <button id="reset-advanced" class="btn btn-danger" type="reset"><i class="far fa-times-circle"></i> Limpar</button>
                        </div>
                        <div class="form-group col-sm-1" style="margin-top: -5px">
                            <button id="imprimir-advanced" class="btn btn-info" type="reset"><i class="fas fa-print"></i> Imprimir</button>
                        </div>
                    </div>
                </form>
            </div>

            <table class="table table-sm table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th scope="col">Nome da Campanha</th>
                    <th scope="col">Dt. Inicial</th>
                    <th scope="col">Dt. Final</th>
                    <th scope="col">Nome da Equipe</th>
                    <th scope="col">Cidade</th>
                    <th scope="col">Status</th>
                    <th scope="col">Ações</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Campanha exemplo</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <!-- Classes para a cor da coluna ----
                           - concluido
                           - aguardando
                           - cancelado
                           - aberto
                        -->
                    <td class="aberto">Ativo</td>
                    <td class="action-column">
                        <a href="#"><button class="btn btn-primary fas fa-search"></button></a>
                        <a href="#"><button class="btn btn-warning fas fa-edit"></button></a>
                        <a href="#"><button class="btn btn-danger fas fa-trash"></button></a>
                        <button class="btn-sm btn-success fas fa-caret-square-down dropdown-toggle caret-off" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Imprimir A4</a>
                            <a class="dropdown-item" href="#">Enviar E-mail</a>
                            <a class="dropdown-item" href="#">Enviar SMS</a>
                            <a class="dropdown-item" href="https://api.whatsapp.com/send?phone=5569999843005&text=Mensagem+de+teste+whatsapp+web&source&data&lang=pt_br" target="_blank">Enviar WhatsApp</a>
                            <a class="dropdown-item" data-toggle="modal" data-target="#HistoricoModal" href="#">Visualizar Histórico</a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>

            <div>
                <nav class="paginator" aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">&laquo;</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">&raquo;</a>
                        </li>
                    </ul>
                </nav>
            </div>

        </div>
    </div>
</div>

<div id="pre-footer">
    <img src="../img/logo-footer.png">
    <p>© 2020</p>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="../js/custom.js"></script>
</body>
</html>