<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
    <title>Gerencie Meu Gabinete</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/styles.css"/>
    <script src="https://kit.fontawesome.com/573dc28405.js" crossorigin="anonymous"></script>
</head>
<body>

    <!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-light" id="nav-header">
        <button id="toggle" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto nav-fill w-100 align-items-start">

                <li class="nav-item header-item">
                    <a href="../dashboard.html"><img src="../img/logo-nav.png"/></a>
                </li>

                <li class="nav-item header-item center">
                    <a href="#"><i class="fas fa-expand" id="ico-fullscreen"></i></a>
                </li>

                <li class="divider"></li>

                <li class="nav-item header-item right center header-color">
                    <span class="font-weight-bold">Matriz: </span>
                </li>

                <li class="nav-item header-item left">
                    <div class="dropdown">

                        <button class="btn btn-light dropdown-toggle header-color" type="button" id="dropdownLocal" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ Deputado Estadual Alex Redano - Ariquemes }}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownLocal">
                            <a class="dropdown-item" href="#">{{ list item }}</a>
                        </div>
                    </div>
                </li>

                <li class="divider"></li>

                <li class="nav-item header-item right">
                    <img src="../img/user-avatar.png" id="user-avatar"/>
                </li>

                <li class="nav-item header-item left">
                    <div class="dropdown">

                        <button class="btn btn-light dropdown-toggle header-color" type="button" id="dropdownMenuButtonAvatar" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ Thiago de Souza Bueno }}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonAvatar">
                            <a class="dropdown-item" href="#">{{ list item }}</a>
                        </div>
                    </div>
                </li>

                <li class="divider"></li>

                <li class="nav-item header-item center">
                    <a href="#"><i class="fas fa-cog icon-notify"></i></a>
                    <a href="#"><i class="far fa-play-circle icon-notify"></i></a>
                    <a href="#"><i class="fas fa-dollar-sign icon-notify"></i></a>
                    <a href="#"><i class="far fa-bell icon-notify"></i></a>
                </li>

                <li class="divider"></li>

                <li class="nav-item header-item center header-color">
                    <i class="fas fa-headset"></i><span class="font-weight-bold">  Suporte: </span> <span>(99) 9999-9999</span>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Menu principal -->
    <nav class="navbar navbar-expand-lg navbar-light" id="nav-menu">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent1">
            <ul class="navbar-nav mr-auto nav-fill w-100 align-items-start">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="menu-item"><i class="fas fa-user"></i> Cadastro</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                        <a class="dropdown-item" href="../Cadastros/pessoas.index.html">Pessoas</a>
                        <a class="dropdown-item" href="../Cadastros/organizacoes.index.html">Organizações</a>
                        <a class="dropdown-item" href="../Cadastros/usuario.index.html">Usuário</a>
                        <a class="dropdown-item" href="../Cadastros/escritorio.index.html">Escritório</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="menu-item"><i class="fas fa-user-tie"></i> Atendimento</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                        <a class="dropdown-item" href="../Atendimento/agenda.index.html">Agenda</a>
                        <a class="dropdown-item" href="../Atendimento/solicitacoes.index.html">Solicitações</a>
                        <a class="dropdown-item" href="#">Reivindicações</a>
                        <a class="dropdown-item" href="#">Visitas</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="menu-item"><i class="fas fa-gavel"></i> Proposições</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
                        <a class="dropdown-item" href="../Legislativo/proposicoes.index.html">Cadastrar</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown4" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="menu-item"><i class="fas fa-map-marked-alt"></i> GEO</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown4">
                        <a class="dropdown-item" href="#">Geolocalização</a>
                        <a class="dropdown-item" href="#">Eleições</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown5" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="menu-item"><i class="fas fa-envelope"></i> Comunicação</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown5">
                        <a class="dropdown-item" href="#">E-mail Marketing</a>
                        <a class="dropdown-item" href="#">Envia SMS</a>
                        <a class="dropdown-item" href="#">Envia Whatsapp</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown6" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="menu-item"><i class="fas fa-hand-holding-usd"></i> Financeiro</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown6">
                        <a class="dropdown-item" href="#">Movimentação</a>
                        <a class="dropdown-item" href="#">Fornecedor</a>
                        <a class="dropdown-item" href="#">Plano de Contas</a>
                        <a class="dropdown-item" href="#">Contas Bancárias</a>
                        <a class="dropdown-item" href="#">DRE</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown7" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="menu-item"><i class="fas fa-file-alt"></i> GED</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown7">
                        <a class="dropdown-item" href="#">Arquivo</a>
                        <a class="dropdown-item" href="#">Digitalização</a>
                        <a class="dropdown-item" href="#">OCR</a>
                        <a class="dropdown-item" href="#">Ficha de Cadastro</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown8" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="menu-item"><i class="fas fa-print"></i> Relatórios</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown8">
                        <a class="dropdown-item" href="#">Cadastro</a>
                        <a class="dropdown-item" href="#">Atendimento</a>
                        <a class="dropdown-item" href="#">Geo</a>
                        <a class="dropdown-item" href="#">Comunicação</a>
                        <a class="dropdown-item" href="#">Financeiro</a>
                        <a class="dropdown-item" href="#">Produtividade</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown9" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="menu-item"><i class="fas fa-cog"></i> Configurações</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown9">
                        <a class="dropdown-item" href="#">Status do Atendimento</a>
                        <a class="dropdown-item" href="#">Grupo de Eleitores</a>
                        <a class="dropdown-item" href="#">Origem dos Atendimentos</a>
                        <a class="dropdown-item" href="#">Usuários</a>
                        <a class="dropdown-item" href="#">Meu Plano</a>
                        <a class="dropdown-item" href="#">Backup de Dados</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Conteudo -->
    <div id="main">
        <div class="card">
            <div class="card-header">
                <h5>Pessoas</h5>
            </div>
            <div class="card-body">

                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <i class="fas fa-angle-double-right"></i><li class="breadcrumb-item">Cadastro</li>
                        <li class="breadcrumb-item " >Pessoas</li>
                        <li class="breadcrumb-item active" aria-current="page">Novo</li>
                    </ol>
                </nav>

                <div class="row">
                    <div class="col-2">
                        <a href="pessoas.index.html">
                            <button class="btn btn-primary"><i class="fas fa-arrow-left"></i> Voltar</button>
                        </a>
                    </div>
                </div>

                <ul class="nav nav-pills mt-5" id="myTab" role="tablist" style="font-weight: bold;">
                    <li class="nav-item">
                        <a class="nav-link active" id="cadastro-tab" data-toggle="tab" href="#cadastro" role="tab" aria-controls="cadastro" aria-selected="true">
                            <button class="btn btn-warning"></button>
                            Dados Básicos
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="avancados-tab" data-toggle="tab" href="#avancados" role="tab" aria-controls="avancados" aria-selected="false">
                            <button class="btn btn-success"></button>
                            Dados Avançados
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="historico-tab" data-toggle="tab" href="#historico" role="tab" aria-controls="historico" aria-selected="false">
                            <button class="btn btn-primary"></button>
                            Histórico de Solicitações
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="historico-visitas-tab" data-toggle="tab" href="#historico-visitas" role="tab" aria-controls="historico-visitas" aria-selected="false">
                            <button class="btn btn-info"></button>
                            Histórico de Visitas
                        </a>
                    </li>
                </ul>

                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="cadastro" role="tabpanel" aria-labelledby="cadastro-tab">
                        <form class="mt-5">
                            <!--<div class="form-row mb-5 pt-2 border-top border-warning">
                                <div class="col-4">
                                    Autoriza o envio de mensagens:
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                        <label class="form-check-label" for="inlineCheckbox1">Sim</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                                        <label class="form-check-label" for="inlineCheckbox2">Não</label>
                                    </div>
                                </div>
                            </div>-->

                            <div class="form-row mb-2 pt-2 border-top border-bottom border-warning">
                                <div class="form-group col-md-3">
                                    <label for="nome">Nome</label>
                                    <input type="text" class="form-control" id="nome">
                                </div>
                                <div class="form-group col-md-1">
                                    <label for="sexo">Sexo</label>
                                    <select id="sexo" class="custom-select">
                                        <option selected></option>
                                        <option value="1">Masculino</option>
                                        <option value="2">Feminino</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-1">
                                    <label for="cpf">CPF</label>
                                    <input type="text" class="form-control" id="cpf">
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="telefone">Telefone</label>
                                    <input type="text" class="form-control" id="telefone">
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="dtNascimento">Dt. Nascimento</label>
                                    <input type="date" class="form-control" id="dtNascimento">
                                </div>
                                <div class="form-group col-md-1">
                                    <div class="form-row"><label for="voto">Voto</label></div>
                                    <div class="form-row justify-content-center">
                                        <div id="voto" class="btn-group btn-group-toggle" data-toggle="buttons">
                                            <label class="btn btn-light p-1">
                                                <input type="radio" name="options" id="option1"><img src="../img/emoji-1.png" data-toggle="tooltip" data-placement="bottom" title="Conquistado">
                                            </label>
                                            <label class="btn btn-light p-1">
                                                <input type="radio" name="options" id="option2"><img src="../img/emoji-2.png" data-toggle="tooltip" data-placement="bottom" title="A conquistar">
                                            </label>
                                            <label class="btn btn-light p-1">
                                                <input type="radio" name="options" id="option3"><img src="../img/emoji-3.png" data-toggle="tooltip" data-placement="bottom" title="Perdido">
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="responsavel">Responsável</label>
                                    <select id="responsavel" class="form-control">
                                        <option selected></option>
                                        <option value="1">list_responsavel</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-row mb-4 border-bottom border-warning">
                                <div class="form-group col-sm-2">
                                    <label for="cep">CEP</label>
                                    <div class="input-group-append">
                                        <input type="text" class="form-control" id="cep">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button" id="button-addon2"><i class="fas fa-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-3">
                                    <label for="logradouro">Logradouro</label>
                                    <input type="text" class="form-control" id="logradouro">
                                </div>
                                <div class="form-group col-sm-1">
                                    <label for="numero">Número</label>
                                    <input type="text" class="form-control" id="numero">
                                </div>
                                <div class="form-group col-sm-1">
                                    <label for="complemento">Complemento</label>
                                    <input type="text" class="form-control" id="complemento">
                                </div>
                                <div class="form-group col-sm-2">
                                    <label for="bairro">Bairro</label>
                                    <input type="text" class="form-control" id="bairro">
                                </div>
                                <div class="form-group col-sm-1">
                                    <label for="uf">UF</label>
                                    <input type="text" class="form-control" id="uf">
                                </div>
                                <div class="form-group col-sm-2">
                                    <label for="cidade">Cidade</label>
                                    <select id="cidade" class="custom-select">
                                        <option selected></option>
                                        <option value="1">list_cidade</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-3">
                                    <div class="form-row">
                                        <div class="form-group col-xs-6 mr-2">
                                            <button type="submit" class="btn btn-success"><i class="far fa-check-circle"></i> Salvar</button>
                                        </div>
                                        <div class="form-group col-xs-6">
                                            <button type="reset" class="btn btn-danger"><i class="far fa-times-circle"></i> Limpar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="avancados" role="tabpanel" aria-labelledby="avancados-tab">
                        <form class="mt-5">
                            <div class="form-row mb-2 pt-2 border-top border-bottom border-success">
                                <div class="form-group col-2">
                                    <label for="apelido">Apelido</label>
                                    <input type="text" class="form-control" id="apelido">
                                </div>
                                <div class="form-group col-2">
                                    <label for="tpEleitor">Tipo do Eleitor</label>
                                    <select id="tpEleitor" class="custom-select">
                                        <option selected></option>
                                        <option value="1">{{ liste_tp-eleitor }}</option>
                                    </select>
                                </div>
                                <div class="form-group col-2">
                                    <label for="profissao">Profissão</label>
                                    <select id="profissao" class="custom-select">
                                        <option selected></option>
                                        <option value="">{{ list_profissaoe }}</option>
                                    </select>
                                </div>
                                <div class="form-group col-1">
                                    <label for="filhos">Filhos</label>
                                    <select id="filhos" class="custom-select">
                                        <option selected></option>
                                        <option value="">{{ list_filhos }}</option>
                                    </select>
                                </div>
                                <div class="form-group col-1">
                                    <label for="civil">Estado Civil</label>
                                    <select id="civil" class="custom-select">
                                        <option selected></option>
                                        <option value="">{{ list_civil }}</option>
                                    </select>
                                </div>
                                <div class="form-group col-2">
                                    <label for="escolaridade">Escolaridade</label>
                                    <select id="escolaridade" class="custom-select">
                                        <option selected></option>
                                        <option value="">{{ list_escolaridade }}</option>
                                    </select>
                                </div>
                                <div class="form-group col-2">
                                    <label for="email">E-mail</label>
                                    <input type="email" class="form-control" id="email">
                                </div>
                            </div>

                            <div class="form-row mb-4 border-bottom border-success">
                                <div class="form-group col-3">
                                    <label for="time">Time de Futebol</label>
                                    <select id="time" class="custom-select">
                                        <option selected></option>
                                        <option value="">{{ list_time }}</option>
                                    </select>
                                </div>
                                <div class="form-group col-3">
                                    <label for="grupo">Grupo</label>
                                    <select id="grupo" class="custom-select">
                                        <option selected></option>
                                        <option value="">{{ list_grupo }}</option>
                                    </select>
                                </div>
                                <div class="form-group col-4">
                                    <label for="empresa">Empresa</label>
                                    <input type="text" class="form-control" id="empresa">
                                </div>
                                <div class="form-group col-2">
                                    <label for="telAdicional">Telefone Adicional</label>
                                    <input type="text" class="form-control" id="telAdicional">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-3">
                                    <div class="form-row">
                                        <div class="form-group col-xs-6 mr-2">
                                            <button type="submit" class="btn btn-success"><i class="far fa-check-circle"></i> Salvar</button>
                                        </div>
                                        <div class="form-group col-xs-6">
                                            <button type="reset" class="btn btn-danger"><i class="far fa-times-circle"></i> Limpar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="historico" role="tabpanel" aria-labelledby="historico-tab">

                        <form class="mt-5">
                            <div class="form-row mb-2 pt-2 border-top border-bottom border-success">
                                <div class="form-group col-2">
                                    <label for="data-inicial">Data Inicial</label>
                                    <input id="data-inicial" type="date" class="form-control" placeholder="Data incial">
                                </div>
                                <div class="form-group col-2">
                                    <label for="data-final">Data Final</label>
                                    <input id="data-final" type="date" class="form-control" placeholder="Data final">
                                </div>
                                <div class="form-group col-3">
                                    <label>&nbsp;</label>
                                    <div class="form-row">
                                        <div class="form-group col-xs-6">
                                            <button id="" class="btn btn-success" type="submit"><i class="fas fa-search"></i> Consultar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <table class="table table-sm table-striped table-bordered table-hover">
                            <thead>
                            <tr>
                                <th scope="col">Nome / Organização</th>
                                <th scope="col">Responsável</th>
                                <th scope="col">Prioridade</th>
                                <th scope="col">Data</th>
                                <th scope="col">Prazo</th>
                                <th scope="col">Orgão</th>
                                <th scope="col">Status</th>
                                <th scope="col">Ações</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>João Batista</td>
                                <td>Maria</td>
                                <td>Normal</td>
                                <td>01/01/2020</td>
                                <td>31/12/2020</td>
                                <td>Municipal</td>
                                <td>Aguardando</td>
                                <td class="action-column">
                                    <a href="#"><button class="btn btn-primary fas fa-search"></button></a>
                                    <a href="#"><button class="btn btn-warning fas fa-edit"></button></a>
                                    <a href="#"><button class="btn btn-danger fas fa-trash"></button></a>
                                    <button class="btn-sm btn-success fas fa-caret-square-down dropdown-toggle caret-off" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Imprimir A4</a>
                                        <a class="dropdown-item" href="#">Enviar E-mail</a>
                                        <a class="dropdown-item" href="#">Enviar SMS</a>
                                        <a class="dropdown-item" href="#">Enviar WhatsApp</a>
                                        <a class="dropdown-item" href="#">Visualizar Histórico</a>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="historico-visitas" role="tabpanel" aria-labelledby="historico-visitas-tab">
                        <table class="table table-sm table-striped table-bordered table-hover">
                            <thead>
                            <tr>
                                <th scope="col">Nome</th>
                                <th scope="col">Assunto</th>
                                <th scope="col">Data</th>
                                <th scope="col">Hora</th>
                                <th scope="col">Ações</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="action-column">
                                    <a href="#"><button class="btn btn-primary fas fa-search"></button></a>
                                    <a href="#"><button class="btn btn-warning fas fa-edit"></button></a>
                                    <a href="#"><button class="btn btn-danger fas fa-trash"></button></a>
                                    <button class="btn-sm btn-success fas fa-caret-square-down dropdown-toggle caret-off" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Imprimir A4</a>
                                        <a class="dropdown-item" href="#">Enviar E-mail</a>
                                        <a class="dropdown-item" href="#">Enviar SMS</a>
                                        <a class="dropdown-item" href="#" target="_blank">Enviar WhatsApp</a>
                                        <a class="dropdown-item" data-toggle="modal" data-target="#HistoricoModal" href="#">Visualizar Histórico</a>
                                    </div>
                                </td>

                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="pre-footer">
        <img src="../img/logo-footer.png">
        <p>© 2020</p>
    </div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="../js/custom.js"></script>
</body>
</html>