<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
    <title>Gerencie Meu Gabinete</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/styles.css"/>
    <script src="https://kit.fontawesome.com/573dc28405.js" crossorigin="anonymous"></script>
</head>
<body>

<!-- Header -->
<nav class="navbar navbar-expand-lg navbar-light" id="nav-header">
    <button id="toggle" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto nav-fill w-100 align-items-start">

            <li class="nav-item header-item">
                <a href="../dashboard.html"><img src="../img/logo-nav.png"/></a>
            </li>

            <li class="nav-item header-item center">
                <a href="#"><i class="fas fa-expand" id="ico-fullscreen"></i></a>
            </li>

            <li class="divider"></li>

            <li class="nav-item header-item right center header-color">
                <span class="font-weight-bold">Matriz: </span>
            </li>

            <li class="nav-item header-item left">
                <div class="dropdown">

                    <button class="btn btn-light dropdown-toggle header-color" type="button" id="dropdownLocal" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ Deputado Estadual Alex Redano - Ariquemes }}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownLocal">
                        <a class="dropdown-item" href="#">{{ list item }}</a>
                    </div>
                </div>
            </li>

            <li class="divider"></li>

            <li class="nav-item header-item right">
                <img src="../img/user-avatar.png" id="user-avatar"/>
            </li>

            <li class="nav-item header-item left">
                <div class="dropdown">

                    <button class="btn btn-light dropdown-toggle header-color" type="button" id="dropdownMenuButtonAvatar" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ Thiago de Souza Bueno }}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonAvatar">
                        <a class="dropdown-item" href="#">{{ list item }}</a>
                    </div>
                </div>
            </li>

            <li class="divider"></li>

            <li class="nav-item header-item center">
                <a href="#"><i class="fas fa-cog icon-notify"></i></a>
                <a href="#"><i class="far fa-play-circle icon-notify"></i></a>
                <a href="#"><i class="fas fa-dollar-sign icon-notify"></i></a>
                <a href="#"><i class="far fa-bell icon-notify"></i></a>
            </li>

            <li class="divider"></li>

            <li class="nav-item header-item center header-color">
                <i class="fas fa-headset"></i><span class="font-weight-bold">  Suporte: </span> <span>(99) 9999-9999</span>
            </li>
        </ul>
    </div>
</nav>

<!-- Menu principal -->
<nav class="navbar navbar-expand-lg navbar-light" id="nav-menu">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent1">
        <ul class="navbar-nav mr-auto nav-fill w-100 align-items-start">

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="menu-item"><i class="fas fa-user"></i> Cadastro</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                    <a class="dropdown-item" href="../Cadastros/pessoas.index.html">Pessoas</a>
                    <a class="dropdown-item" href="../Cadastros/organizacoes.index.html">Organizações</a>
                    <a class="dropdown-item" href="../Cadastros/usuario.index.html">Usuário</a>
                    <a class="dropdown-item" href="../Cadastros/escritorio.index.html">Escritório</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="menu-item"><i class="fas fa-user-tie"></i> Atendimento</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                    <a class="dropdown-item" href="../Atendimento/agenda.index.html">Agenda</a>
                    <a class="dropdown-item" href="../Atendimento/solicitacoes.index.html">Solicitações</a>
                    <a class="dropdown-item" href="#">Reivindicações</a>
                    <a class="dropdown-item" href="#">Visitas</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="menu-item"><i class="fas fa-gavel"></i> Legislativo</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
                    <a class="dropdown-item" href="../Legislativo/proposicoes.index.html">Solicitações</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown4" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="menu-item"><i class="fas fa-map-marked-alt"></i> GEO</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown4">
                    <a class="dropdown-item" href="#">Geolocalização</a>
                    <a class="dropdown-item" href="#">Eleições</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown5" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="menu-item"><i class="fas fa-envelope"></i> Comunicação</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown5">
                    <a class="dropdown-item" href="#">E-mail Marketing</a>
                    <a class="dropdown-item" href="#">Envia SMS</a>
                    <a class="dropdown-item" href="#">Envia Whatsapp</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown6" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="menu-item"><i class="fas fa-hand-holding-usd"></i> Financeiro</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown6">
                    <a class="dropdown-item" href="#">Movimentação</a>
                    <a class="dropdown-item" href="#">Fornecedor</a>
                    <a class="dropdown-item" href="#">Plano de Contas</a>
                    <a class="dropdown-item" href="#">Contas Bancárias</a>
                    <a class="dropdown-item" href="#">DRE</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown7" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="menu-item"><i class="fas fa-file-alt"></i> GED</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown7">
                    <a class="dropdown-item" href="#">Arquivo</a>
                    <a class="dropdown-item" href="#">Digitalização</a>
                    <a class="dropdown-item" href="#">OCR</a>
                    <a class="dropdown-item" href="#">Ficha de Cadastro</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown8" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="menu-item"><i class="fas fa-print"></i> Relatórios</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown8">
                    <a class="dropdown-item" href="#">Cadastro</a>
                    <a class="dropdown-item" href="#">Atendimento</a>
                    <a class="dropdown-item" href="#">Geo</a>
                    <a class="dropdown-item" href="#">Comunicação</a>
                    <a class="dropdown-item" href="#">Financeiro</a>
                    <a class="dropdown-item" href="#">Produtividade</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown9" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="menu-item"><i class="fas fa-cog"></i> Configurações</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown9">
                    <a class="dropdown-item" href="#">Status do Atendimento</a>
                    <a class="dropdown-item" href="#">Grupo de Eleitores</a>
                    <a class="dropdown-item" href="#">Origem dos Atendimentos</a>
                    <a class="dropdown-item" href="#">Usuários</a>
                    <a class="dropdown-item" href="#">Meu Plano</a>
                    <a class="dropdown-item" href="#">Backup de Dados</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<!-- Conteudo -->
<div id="main">
    <div class="card">
        <div class="card-header">
            <h5>Configurações Gerais</h5>
        </div>
        <div class="card-body ">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <i class="fas fa-angle-double-right"></i><li class="breadcrumb-item">Configurações</li>
                    <li class="breadcrumb-item active" aria-current="page">Geral</li>
                </ol>
            </nav>

            <div class="form-row">
                <ul class="nav nav-pills mb-3" id="configs-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#tab-cadastro" role="tab">Cadastro</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#tab-atendimento" role="tab">Atendimento</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#tab-proposicoes" role="tab">Proposições</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#tab-ged" role="tab">GED</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#tab-comunicacao" role="tab">Comunicação</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#tab-financeiro" role="tab">Financeiro</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#tab-permissoes" role="tab">Permissões</a>
                    </li>
                </ul>
            </div>

            <div class="tab-content" id="pills-tabContent">

                <!------- CADASTROS -------->
                <div class="tab-pane fade show active" id="tab-cadastro" role="tabpanel" aria-labelledby="pills-cadastro-tab">
                    <ul class="nav nav-tabs subconfig" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#eleitor" role="tab" aria-controls="eleitor" aria-selected="true">Tipo de Eleitor</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#time" role="tab" aria-controls="time" aria-selected="false">Time de Futebol</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#grupo" role="tab" aria-controls="grupo" aria-selected="false">Grupo</a>
                        </li>
                    </ul>

                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="eleitor" role="tabpanel" aria-labelledby="eleitor-tab">
                            <!------- MODELO TABELA DE ITENS --------->
                            <table class="table table-sm table-striped table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th scope="col">Tipo</th>
                                    <th scope="col">Cadastrado em</th>
                                    <th scope="col">Ações</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Colaborador</td>
                                    <td>20/11/2020 as 20:00</td>
                                    <td class="action-column">
                                        <a href="#"><button class="btn btn-warning fas fa-edit"></button></a>
                                        <a href="#"><button class="btn btn-danger fas fa-trash"></button></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <a href="#">
                                <button type="button" class="btn btn-success mt-4" data-toggle="modal" data-target="#tp-eleitor"><i class="fas fa-plus"></i> Adicionar</button>
                            </a>

                            <!------- MODELO - MODAL INPUT ---------->
                            <div class="modal fade" id="tp-eleitor" tabindex="-1" role="dialog" aria-labelledby="TipoEleitor" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="CadastroUsuarioModalTitle">Tipo de Eleitor</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body" style="min-height: 100px">
                                            <form>
                                                <div class="form-row mt-4">
                                                    <div class="col-8">
                                                        <input type="text" class="form-control">
                                                    </div>
                                                    <div class="col-2">
                                                        <button type="submit" class="btn btn-success"><i class="far fa-check-circle"></i> Salvar</button>
                                                    </div>
                                                    <div class="col-2">
                                                        <button type="reset" class="btn btn-danger"><i class="far fa-times-circle"></i> Limpar</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="tab-pane fade" id="time" role="tabpanel" aria-labelledby="time-tab">
                            <!------- MODELO TABELA DE ITENS --------->
                            #INSERIR MODELO TABELA DE ITENS AQUI<br>

                            <!------- MODELO - MODAL INPUT ---------->
                            #INSERIR MODELO MODAL INPUT AQUI
                        </div>
                        <div class="tab-pane fade" id="grupo" role="tabpanel" aria-labelledby="grupo-tab">
                            <!------- MODELO TABELA DE ITENS --------->
                            #INSERIR MODELO TABELA DE ITENS AQUI<br>

                            <!------- MODELO - MODAL INPUT ---------->
                            #INSERIR MODELO MODAL INPUT AQUI
                        </div>
                    </div>
                </div>

                <!------- ATENDIMENTO -------->
                <div class="tab-pane fade" id="tab-atendimento" role="tabpanel" aria-labelledby="pills-atendimento-tab">
                    <ul class="nav nav-tabs subconfig" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#area" role="tab" aria-controls="area" aria-selected="true">Area de Interesse</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#canal" role="tab" aria-controls="canal" aria-selected="false">Canal de Origem</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#status" role="tab" aria-controls="status" aria-selected="false">Status Solicitação</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#status-agenda" role="tab" aria-controls="status" aria-selected="false">Status Agenda</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane fade" id="area" role="tabpanel" aria-labelledby="area-tab">
                            <!------- MODELO TABELA DE ITENS --------->
                            #INSERIR MODELO TABELA DE ITENS AQUI<br>

                            <!------- MODELO - MODAL INPUT ---------->
                            #INSERIR MODELO MODAL INPUT AQUI
                        </div>
                        <div class="tab-pane fade" id="canal" role="tabpanel" aria-labelledby="canal-tab">
                            <!------- MODELO TABELA DE ITENS --------->
                            #INSERIR MODELO TABELA DE ITENS AQUI<br>

                            <!------- MODELO - MODAL INPUT ---------->
                            #INSERIR MODELO MODAL INPUT AQUI
                        </div>
                        <div class="tab-pane fade" id="status" role="tabpanel" aria-labelledby="status-tab">
                            <!------- MODELO TABELA DE ITENS --------->
                            #INSERIR MODELO TABELA DE ITENS AQUI<br>

                            <!------- MODELO - MODAL INPUT ---------->
                            #INSERIR MODELO MODAL INPUT AQUI
                        </div>
                        <div class="tab-pane fade" id="status-agenda" role="tabpanel" aria-labelledby="statusag-tab">
                            <!------- MODELO TABELA DE ITENS --------->
                            #INSERIR MODELO TABELA DE ITENS AQUI<br>

                            <!------- MODELO - MODAL INPUT ---------->
                            #INSERIR MODELO MODAL INPUT AQUI
                        </div>
                    </div>
                </div>

                <!------- PROPOSICOES -------->
                <div class="tab-pane fade" id="tab-proposicoes" role="tabpanel" aria-labelledby="pills-proposicoes-tab">
                    <ul class="nav nav-tabs subconfig" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tipo" role="tab" aria-controls="tipo" aria-selected="true">Tipo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#situacao" role="tab" aria-controls="situacao" aria-selected="false">Situação</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#autoria" role="tab" aria-controls="autoria" aria-selected="false">Autoria</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane fade" id="tipo" role="tabpanel" aria-labelledby="area-tab">
                            <!------- MODELO TABELA DE ITENS --------->
                            #INSERIR MODELO TABELA DE ITENS AQUI<br>

                            <!------- MODELO - MODAL INPUT ---------->
                            #INSERIR MODELO MODAL INPUT AQUI
                        </div>
                        <div class="tab-pane fade" id="situacao" role="tabpanel" aria-labelledby="canal-tab">
                            <!------- MODELO TABELA DE ITENS --------->
                            #INSERIR MODELO TABELA DE ITENS AQUI<br>

                            <!------- MODELO - MODAL INPUT ---------->
                            #INSERIR MODELO MODAL INPUT AQUI
                        </div>
                        <div class="tab-pane fade" id="autoria" role="tabpanel" aria-labelledby="status-tab">
                            <!------- MODELO TABELA DE ITENS --------->
                            #INSERIR MODELO TABELA DE ITENS AQUI<br>

                            <!------- MODELO - MODAL INPUT ---------->
                            #INSERIR MODELO MODAL INPUT AQUI
                        </div>
                    </div>
                </div>

                <!------- PERMISSOES -------->
                <div class="tab-pane fade active show" id="tab-permissoes" role="tabpanel" aria-labelledby="pills-permissoes-tab">
                    
				    <div class="row">
				        <div class="form-group col-5">
				            <label for="roles">Selecione uma função</label>
				            <select name="roles" id="select_funcao" class="custom-select">
				                <option value="" disabled="" selected="">Selecione</option>
				                                <option value="1">
				                    Admin
				                </option>
				                                <option value="2">
				                    User
				                </option>
				            </select>
				        </div>
				        <div class="col-3 mt-4">
				            <a href="#">
				                <button type="button" class="btn btn-success" onclick="abreModalFuncao()"><i class="fas fa-plus" aria-hidden="true"></i> Adicionar</button>
				            </a>
				            <a href="#">
				                <button type="button" class="btn btn-danger" onclick="removeFuncao()"><i class="fas fa-trash" aria-hidden="true"></i> Remover</button>
				            </a>
				        </div>
				        <div class="col-4 mt-4">
				            <button type="button" class="btn btn-success fas fa-lock-open mr-4 pull-right" name="liberarPermissao" onclick="clickAllCheck(true)" aria-hidden="true"> Liberar todas as
				                permissões</button>
				            <button type="button" class="btn btn-danger fas fa-lock pull-right" name="bloquearPermissao" onclick="clickAllCheck(false)" aria-hidden="true"> Bloquear todas as
				                permissões</button>
				        </div>
				    </div>

				    <form id="formPermissoes">	
					    <div class="row my-4" id="response">	
							<div class="col permissao">
								        <div class="form-check form-check-inline">
								            <input class="form-check-input" type="checkbox" id="permissionsDashboardCheckbox" onclick="clickCheck('permissionsDashboard')">
								            <label class="form-check-label" for="permissionsDashboardCheckbox">Dashboard</label>
								        </div>
								        <select name="permissionsDashboard" id="permissionsDashboard" class="custom-select" multiple="">
								        </select>
						    </div>
						    <div class="col permissao">
						        <div class="form-check form-check-inline">
						            <input class="form-check-input" type="checkbox" id="permissionsCadastroCheckbox" onclick="clickCheck('permissionsCadastro')">
						            <label class="form-check-label" for="permissionsCadastroCheckbox">Cadastro</label>
						        </div>
						        <select name="permissionsCadastro" id="permissionsCadastro" class="custom-select" multiple="">
						                        <option value="1" selected="">
						                Acesso as telas de cadastros
						            </option>
						                        <option value="10" selected="">
						                Criar usuário
						            </option>
						                        <option value="11" selected="">
						                Editar usuário
						            </option>
						                        <option value="12" selected="">
						                Mostrar usuário
						            </option>
						                        <option value="13" selected="">
						                Excluir usuário
						            </option>
						                        <option value="14" selected="">
						                Acessar gerenciamento de usuário
						            </option>
						                        <option value="17" selected="">
						                Trocar de escritorio sem deslogar
						            </option>
						                        <option value="22" selected="">
						                Criar organização
						            </option>
						                        <option value="23" selected="">
						                Editar organização
						            </option>
						                        <option value="24" selected="">
						                Mostrar organização
						            </option>
						                        <option value="25" selected="">
						                Excluir organização
						            </option>
						                        <option value="26" selected="">
						                Acessar organização
						            </option>
						                        <option value="27" selected="">
						                Criar escritório
						            </option>
						                        <option value="28" selected="">
						                Editar escritório
						            </option>
						                        <option value="29" selected="">
						                Mostrar escritório
						            </option>
						                        <option value="30" selected="">
						                Excluir escritório
						            </option>
						                        <option value="31" selected="">
						                Acessar escritório
						            </option>
						                        <option value="37" selected="">
						                Criar pessoa
						            </option>
						                        <option value="38" selected="">
						                Editar pessoa
						            </option>
						                        <option value="39" selected="">
						                Mostrar pessoa
						            </option>
						                        <option value="40" selected="">
						                Excluir pessoa
						            </option>
						                        <option value="41" selected="">
						                Acessar pessoa
						            </option>
						                        <option value="42" selected="">
						                Cadastro de todos os objetos do sistema.
						            </option>
						                    </select>
						    </div>
						    <div class="col permissao">
						        <div class="form-check form-check-inline">
						            <input class="form-check-input" type="checkbox" id="permissionsConfiguracaoCheckbox" onclick="clickCheck('permissionsConfiguracao')">
						            <label class="form-check-label" for="permissionsConfiguracaoCheckbox">Configuração</label>
						        </div>
						        <select name="permissionsConfiguracao" id="permissionsConfiguracao" class="custom-select" multiple="">
						                        <option value="2" selected="">
						                Ver logs de atividades
						            </option>
						                        <option value="3" selected="">
						                Excluir logs de atividades
						            </option>
						                        <option value="4" selected="">
						                Mostrar logs de atividades
						            </option>
						                        <option value="5" selected="">
						                Criar funções de usuário
						            </option>
						                        <option value="6" selected="">
						                Editar funções de usuário.
						            </option>
						                        <option value="7" selected="">
						                Mostrar funções de usuário
						            </option>
						                        <option value="8" selected="">
						                Excluir funções de usuário
						            </option>
						                        <option value="9" selected="">
						                Acessar funções de usuário
						            </option>
						                        <option value="18" selected="">
						                Apagar um item das Configurações Gerais do sistema
						            </option>
						                        <option value="19" selected="">
						                Acessar os dados de Configuração Geral do sistema
						            </option>
						                        <option value="20" selected="">
						                Criar novos dados de Configuração geral do sistema
						            </option>
						                        <option value="21" selected="">
						                Editar novos dados de Configuração geral do sistema
						            </option>
						                    </select>
						    </div>
						    <div class="col permissao">
						        <div class="form-check form-check-inline">
						            <input class="form-check-input" type="checkbox" id="permissionsAtendimentoCheckbox" onclick="clickCheck('permissionsAtendimento')">
						            <label class="form-check-label" for="permissionsAtendimentoCheckbox">Atendimento</label>
						        </div>
						        <select name="permissionsAtendimento" id="permissionsAtendimento" class="custom-select" multiple="">
						                        <option value="15" selected="">
						                Acessar telas de atendimento
						            </option>
						                        <option value="16" selected="">
						                Acessar telas de proposições
						            </option>
						                        <option value="43" selected="">
						                Criar agenda
						            </option>
						                        <option value="44" selected="">
						                Editar agenda
						            </option>
						                        <option value="45" selected="">
						                Mostrar agenda
						            </option>
						                        <option value="46" selected="">
						                Excluir agenda
						            </option>
						                        <option value="47" selected="">
						                Acessar agenda
						            </option>
						                        <option value="48" selected="">
						                Criar solicitação
						            </option>
						                        <option value="49" selected="">
						                Editar solicitação
						            </option>
						                        <option value="50" selected="">
						                Mostrar solicitação
						            </option>
						                        <option value="51" selected="">
						                Excluir solicitação
						            </option>
						                        <option value="52" selected="">
						                Acessar solicitação
						            </option>
						                        <option value="53" selected="">
						                Criar visita
						            </option>
						                        <option value="54" selected="">
						                Editar visita
						            </option>
						                        <option value="55" selected="">
						                Mostrar visita
						            </option>
						                        <option value="56" selected="">
						                Excluir visita
						            </option>
						                        <option value="57" selected="">
						                Acessar visita
						            </option>
						                    </select>
						    </div>
						    <div class="col permissao">
						        <div class="form-check form-check-inline">
						            <input class="form-check-input" type="checkbox" id="permissionsProposicaoCheckbox" onclick="clickCheck('permissionsProposicao')">
						            <label class="form-check-label" for="permissionsProposicaoCheckbox">Proposição</label>
						        </div>
						        <select name="permissionsProposicao" id="permissionsProposicao" class="custom-select" multiple="">
						                        <option value="58" selected="">
						                Criar emenda
						            </option>
						                        <option value="59" selected="">
						                Acessar emenda
						            </option>
						                        <option value="60" selected="">
						                Editar emenda
						            </option>
						                        <option value="61" selected="">
						                Mostrar emenda
						            </option>
						                        <option value="62" selected="">
						                Excluir emenda
						            </option>
						                    </select>
						    </div>
						</div>
					</form>

				    <div class="col-2 mt-4">
				        <a href="#">
				            <button type="button" class="btn btn-success" name="salvarPermissao" onclick="salvarPermissoes()"><i class="fas fa-plus" aria-hidden="true"></i> Salvar alterações</button>
				        </a>
				    </div>

				</div>

				<div class="modal fade" id="AdicionarFuncaoModal" tabindex="-1" role="dialog" aria-hidden="true">
				    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
				        <div class="modal-content">
				            <div class="modal-header">
				                <h5 class="modal-title">Adicionar nova função</h5>
				                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
				                    <span aria-hidden="true">×</span>
				                </button>
				            </div>
				            <div class="modal-body" style="min-height: 100px">
				                <form id="SalvarFuncao">
				                    <div class="form-row mt-4">
				                        <div class="col-8">
				                            <input type="text" name="name" class="form-control">
				                        </div>
				                        <div class="col-2">
				                            <button type="button" onclick="addFuncao()" id="btnSalvaFuncao" class="btn btn-success">
				                                <i class="far fa-check-circle" aria-hidden="true"></i> Salvar
				                            </button>
				                        </div>
				                        <div class="col-2">
				                            <button type="reset" class="btn btn-danger">
				                                <i class="far fa-times-circle" aria-hidden="true"></i> Limpar
				                            </button>
				                        </div>
				                    </div>
				                </form>
				            </div>
				        </div>
				    </div>
				</div>


                
            </div>
        </div>
    </div>
</div>

<div id="pre-footer">
    <img src="../img/logo-footer.png">
    <p>© 2020</p>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="../js/custom.js"></script>
</body>
</html>