<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
    <title>Gerencie Meu Gabinete</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/styles.css"/>
    <script src="https://kit.fontawesome.com/573dc28405.js" crossorigin="anonymous"></script>
</head>
<body>

<!-- Header -->
<nav class="navbar navbar-expand-lg navbar-light" id="nav-header">
    <button id="toggle" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto nav-fill w-100 align-items-start">

            <li class="nav-item header-item">
                <a href="../dashboard.html"><img src="../img/logo-nav.png"/></a>
            </li>

            <li class="nav-item header-item center">
                <a href="#"><i class="fas fa-expand" id="ico-fullscreen"></i></a>
            </li>

            <li class="divider"></li>

            <li class="nav-item header-item right center header-color">
                <span class="font-weight-bold">Matriz: </span>
            </li>

            <li class="nav-item header-item left">
                <div class="dropdown">

                    <button class="btn btn-light dropdown-toggle header-color" type="button" id="dropdownLocal" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ Deputado Estadual Alex Redano - Ariquemes }}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownLocal">
                        <a class="dropdown-item" href="#">{{ list item }}</a>
                    </div>
                </div>
            </li>

            <li class="divider"></li>

            <li class="nav-item header-item right">
                <img src="../img/user-avatar.png" id="user-avatar"/>
            </li>

            <li class="nav-item header-item left">
                <div class="dropdown">

                    <button class="btn btn-light dropdown-toggle header-color" type="button" id="dropdownMenuButtonAvatar" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ Thiago de Souza Bueno }}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonAvatar">
                        <a class="dropdown-item" href="#">{{ list item }}</a>
                    </div>
                </div>
            </li>

            <li class="divider"></li>

            <li class="nav-item header-item center">
                <a href="#"><i class="fas fa-cog icon-notify"></i></a>
                <a href="#"><i class="far fa-play-circle icon-notify"></i></a>
                <a href="#"><i class="fas fa-dollar-sign icon-notify"></i></a>
                <a href="#"><i class="far fa-bell icon-notify"></i></a>
            </li>

            <li class="divider"></li>

            <li class="nav-item header-item center header-color">
                <i class="fas fa-headset"></i><span class="font-weight-bold">  Suporte: </span> <span>(99) 9999-9999</span>
            </li>
        </ul>
    </div>
</nav>

<!-- Menu principal -->
<nav class="navbar navbar-expand-lg navbar-light" id="nav-menu">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent1">
        <ul class="navbar-nav mr-auto nav-fill w-100 align-items-start">

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="menu-item"><i class="fas fa-user"></i> Cadastro</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                    <a class="dropdown-item" href="../Cadastros/pessoas.index.html">Pessoas</a>
                    <a class="dropdown-item" href="../Cadastros/organizacoes.index.html">Organizações</a>
                    <a class="dropdown-item" href="../Cadastros/usuario.index.html">Usuário</a>
                    <a class="dropdown-item" href="../Cadastros/escritorio.index.html">Escritório</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="menu-item"><i class="fas fa-user-tie"></i> Atendimento</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                    <a class="dropdown-item" href="../Atendimento/agenda.index.html">Agenda</a>
                    <a class="dropdown-item" href="../Atendimento/solicitacoes.index.html">Solicitações</a>
                    <a class="dropdown-item" href="#">Reivindicações</a>
                    <a class="dropdown-item" href="#">Visitas</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="menu-item"><i class="fas fa-gavel"></i> Proposições</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
                    <a class="dropdown-item" href="../Legislativo/proposicoes.index.html">Solicitações</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown4" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="menu-item"><i class="fas fa-map-marked-alt"></i> GEO</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown4">
                    <a class="dropdown-item" href="#">Geolocalização</a>
                    <a class="dropdown-item" href="#">Eleições</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown5" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="menu-item"><i class="fas fa-envelope"></i> Comunicação</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown5">
                    <a class="dropdown-item" href="#">E-mail Marketing</a>
                    <a class="dropdown-item" href="#">Envia SMS</a>
                    <a class="dropdown-item" href="#">Envia Whatsapp</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown6" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="menu-item"><i class="fas fa-hand-holding-usd"></i> Financeiro</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown6">
                    <a class="dropdown-item" href="#">Movimentação</a>
                    <a class="dropdown-item" href="#">Fornecedor</a>
                    <a class="dropdown-item" href="#">Plano de Contas</a>
                    <a class="dropdown-item" href="#">Contas Bancárias</a>
                    <a class="dropdown-item" href="#">DRE</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown7" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="menu-item"><i class="fas fa-file-alt"></i> GED</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown7">
                    <a class="dropdown-item" href="#">Arquivo</a>
                    <a class="dropdown-item" href="#">Digitalização</a>
                    <a class="dropdown-item" href="#">OCR</a>
                    <a class="dropdown-item" href="#">Ficha de Cadastro</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown8" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="menu-item"><i class="fas fa-print"></i> Relatórios</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown8">
                    <a class="dropdown-item" href="#">Cadastro</a>
                    <a class="dropdown-item" href="#">Atendimento</a>
                    <a class="dropdown-item" href="#">Geo</a>
                    <a class="dropdown-item" href="#">Comunicação</a>
                    <a class="dropdown-item" href="#">Financeiro</a>
                    <a class="dropdown-item" href="#">Produtividade</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown9" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="menu-item"><i class="fas fa-cog"></i> Configurações</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown9">
                    <a class="dropdown-item" href="#">Status do Atendimento</a>
                    <a class="dropdown-item" href="#">Grupo de Eleitores</a>
                    <a class="dropdown-item" href="#">Origem dos Atendimentos</a>
                    <a class="dropdown-item" href="#">Usuários</a>
                    <a class="dropdown-item" href="#">Meu Plano</a>
                    <a class="dropdown-item" href="#">Backup de Dados</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<!-- Conteudo -->
<div id="main">
    <div class="card">
        <div class="card-header">
            <h5>Geolocalização</h5>
        </div>
        <div class="card-body ">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <i class="fas fa-angle-double-right"></i><li class="breadcrumb-item">GEO</li>
                    <li class="breadcrumb-item active" aria-current="page">Geolocalização</li>
                </ol>
            </nav>

            <div class="form-row">
                <div class="col-12 col-lg-2 p-2" style="background-color: rgba(234,233,233,0.82)">
                    <form>
                        <div class="group-form-control">
                            <label>Cidade</label>
                            <select name="cidade" class="form-control">
                                <option value=""></option>
                            </select>
                        </div>
                        <div class="group-form-control">
                            <label>Bairro</label>
                            <select name="bairro" class="form-control">
                                <option value=""></option>
                            </select>
                        </div>
                        <div class="group-form-control">
                            <label>Voto</label>
                            <select name="voto" class="form-control">
                                <option value=""></option>
                            </select>
                        </div>
                        <div class="group-form-control">
                            <label>Grupo</label>
                            <select name="grupo" class="form-control">
                                <option value=""></option>
                            </select>
                        </div>
                        <div class="group-form-control">
                            <label>Sexo</label>
                            <select name="sexo" class="form-control">
                                <option value=""></option>
                            </select>
                        </div>
                        <div class="group-form-control">
                            <label>Tipo do Eleitor</label>
                            <select name="cidade" class="form-control">
                                <option value="tipo"></option>
                            </select>
                        </div>
                        <div class="group-form-control">
                            <label>Pessoa</label>
                            <select name="pessoa" class="form-control">
                                <option value=""></option>
                            </select>
                        </div>

                        <div class="group-form-control">
                            <label>Organização</label>
                            <select name="oraganizacao" class="form-control">
                                <option value=""></option>
                            </select>
                        </div>

                        <div class="form-row mt-4">
                            <div class="col-4">
                                <button type="submit" class="btn btn-success"><i class="far fa-check-circle"></i> Buscar</button>
                            </div>
                            <div class="col-4">
                                <button type="reset" class="btn btn-danger"><i class="far fa-times-circle"></i> Limpar</button>
                            </div>
                            <div class="col-4">
                                <button type="button" class="btn btn-info"><i class="fas fa-print"></i> Imprimir</button>
                            </div>
                        </div>
                    </form>

                </div>

                <div class="col-12 col-lg-8">
                    <div id="googleMap" style="width:100%;height:100%;"></div>
                </div>

                <div class="col-12 col-lg-2 overflow-auto" style="max-height: 500px">
                    <div class="form-row mb-5">
                        <div class="col-3"><img src="../img/user-avatar.png" class="user-avatar"/></div>
                        <div class="col-9">
                            <h5>José da Silva</h5>
                            <p>Conquistado</p>
                            <p>Rua Brasil, 1095, Casa, Centro, Ariquemes - RO</p>
                            <a type="button" href="" class="btn btn-primary text-white">Ver perfil</a>
                        </div>
                    </div>
                    <div class="form-row mb-5">
                        <div class="col-3"><img src="../img/user-avatar.png" class="user-avatar"/></div>
                        <div class="col-9">
                            <h5>José da Silva</h5>
                            <p>Conquistado</p>
                            <p>Rua Brasil, 1095, Casa, Centro, Ariquemes - RO</p>
                            <a type="button" href="" class="btn btn-primary text-white">Ver perfil</a>
                        </div>
                    </div>
                    <div class="form-row mb-5">
                        <div class="col-3"><img src="../img/user-avatar.png" class="user-avatar"/></div>
                        <div class="col-9">
                            <h5>José da Silva</h5>
                            <p>Conquistado</p>
                            <p>Rua Brasil, 1095, Casa, Centro, Ariquemes - RO</p>
                            <a type="button" href="" class="btn btn-primary text-white">Ver perfil</a>
                        </div>
                    </div>
                    <div class="form-row mb-5">
                        <div class="col-3"><img src="../img/user-avatar.png" class="user-avatar"/></div>
                        <div class="col-9">
                            <h5>José da Silva</h5>
                            <p>Conquistado</p>
                            <p>Rua Brasil, 1095, Casa, Centro, Ariquemes - RO</p>
                            <a type="button" href="" class="btn btn-primary text-white">Ver perfil</a>
                        </div>
                    </div>
                    <div class="form-row mb-5">
                        <div class="col-3"><img src="../img/user-avatar.png" class="user-avatar"/></div>
                        <div class="col-9">
                            <h5>José da Silva</h5>
                            <p>Conquistado</p>
                            <p>Rua Brasil, 1095, Casa, Centro, Ariquemes - RO</p>
                            <a type="button" href="" class="btn btn-primary text-white">Ver perfil</a>
                        </div>
                    </div>
                    <div class="form-row mb-5">
                        <div class="col-3"><img src="../img/user-avatar.png" class="user-avatar"/></div>
                        <div class="col-9">
                            <h5>José da Silva</h5>
                            <p>Conquistado</p>
                            <p>Rua Brasil, 1095, Casa, Centro, Ariquemes - RO</p>
                            <a type="button" href="" class="btn btn-primary text-white">Ver perfil</a>
                        </div>
                    </div>
                    <div class="form-row mb-5">
                        <div class="col-3"><img src="../img/user-avatar.png" class="user-avatar"/></div>
                        <div class="col-9">
                            <h5>José da Silva</h5>
                            <p>Conquistado</p>
                            <p>Rua Brasil, 1095, Casa, Centro, Ariquemes - RO</p>
                            <a type="button" href="" class="btn btn-primary text-white">Ver perfil</a>
                        </div>
                    </div>
                    <div class="form-row mb-5">
                        <div class="col-3"><img src="../img/user-avatar.png" class="user-avatar"/></div>
                        <div class="col-9">
                            <h5>José da Silva</h5>
                            <p>Conquistado</p>
                            <p>Rua Brasil, 1095, Casa, Centro, Ariquemes - RO</p>
                            <a type="button" href="" class="btn btn-primary text-white">Ver perfil</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div id="pre-footer">
    <img src="../img/logo-footer.png">
    <p>© 2020</p>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="../js/custom.js"></script>
<script>
    function myMap() {
        var mapProp= {
            center:new google.maps.LatLng(-9.91375,-63.044),
            zoom:8,
        };
        var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCxg06FAXtiClI2pV6JQZeFW0vcjPaM6Jo&callback=myMap"></script>

</body>
</html>