<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
    <title>Gerencie Meu Gabinete</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/styles.css"/>
    <script src="https://kit.fontawesome.com/573dc28405.js" crossorigin="anonymous"></script>
</head>
<body>

    <!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-light" id="nav-header">
        <button id="toggle" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto nav-fill w-100 align-items-start">

                <li class="nav-item header-item">
                    <a href="../dashboard.html"><img src="../img/logo-nav.png"/></a>
                </li>

                <li class="nav-item header-item center">
                    <a href="#"><i class="fas fa-expand" id="ico-fullscreen"></i></a>
                </li>

                <li class="divider"></li>

                <li class="nav-item header-item right center header-color">
                    <span class="font-weight-bold">Matriz: </span>
                </li>

                <li class="nav-item header-item left">
                    <div class="dropdown">

                        <button class="btn btn-light dropdown-toggle header-color" type="button" id="dropdownLocal" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ Deputado Estadual Alex Redano - Ariquemes }}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownLocal">
                            <a class="dropdown-item" href="#">{{ list item }}</a>
                        </div>
                    </div>
                </li>

                <li class="divider"></li>

                <li class="nav-item header-item right">
                    <img src="../img/user-avatar.png" id="user-avatar"/>
                </li>

                <li class="nav-item header-item left">
                    <div class="dropdown">

                        <button class="btn btn-light dropdown-toggle header-color" type="button" id="dropdownMenuButtonAvatar" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ Thiago de Souza Bueno }}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonAvatar">
                            <a class="dropdown-item" href="#">{{ list item }}</a>
                        </div>
                    </div>
                </li>

                <li class="divider"></li>

                <li class="nav-item header-item center">
                    <a href="#"><i class="fas fa-cog icon-notify"></i></a>
                    <a href="#"><i class="far fa-play-circle icon-notify"></i></a>
                    <a href="#"><i class="fas fa-dollar-sign icon-notify"></i></a>
                    <a href="#"><i class="far fa-bell icon-notify"></i></a>
                </li>

                <li class="divider"></li>

                <li class="nav-item header-item center header-color">
                    <i class="fas fa-headset"></i><span class="font-weight-bold">  Suporte: </span> <span>(99) 9999-9999</span>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Menu principal -->
    <nav class="navbar navbar-expand-lg navbar-light" id="nav-menu">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent1">
            <ul class="navbar-nav mr-auto nav-fill w-100 align-items-start">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="menu-item"><i class="fas fa-user"></i> Cadastro</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                        <a class="dropdown-item" href="../Cadastros/pessoas.index.html">Pessoas</a>
                        <a class="dropdown-item" href="../Cadastros/organizacoes.index.html">Organizações</a>
                        <a class="dropdown-item" href="../Cadastros/usuario.index.html">Usuário</a>
                        <a class="dropdown-item" href="../Cadastros/escritorio.index.html">Escritório</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="menu-item"><i class="fas fa-user-tie"></i> Atendimento</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                        <a class="dropdown-item" href="../Atendimento/agenda.index.html">Agenda</a>
                        <a class="dropdown-item" href="../Atendimento/solicitacoes.index.html">Solicitações</a>
                        <a class="dropdown-item" href="#">Reivindicações</a>
                        <a class="dropdown-item" href="#">Visitas</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="menu-item"><i class="fas fa-gavel"></i> Proposições</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
                        <a class="dropdown-item" href="../Legislativo/proposicoes.index.html">Solicitações</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown4" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="menu-item"><i class="fas fa-map-marked-alt"></i> GEO</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown4">
                        <a class="dropdown-item" href="#">Geolocalização</a>
                        <a class="dropdown-item" href="#">Eleições</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown5" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="menu-item"><i class="fas fa-envelope"></i> Comunicação</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown5">
                        <a class="dropdown-item" href="#">E-mail Marketing</a>
                        <a class="dropdown-item" href="#">Envia SMS</a>
                        <a class="dropdown-item" href="#">Envia Whatsapp</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown6" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="menu-item"><i class="fas fa-hand-holding-usd"></i> Financeiro</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown6">
                        <a class="dropdown-item" href="#">Movimentação</a>
                        <a class="dropdown-item" href="#">Fornecedor</a>
                        <a class="dropdown-item" href="#">Plano de Contas</a>
                        <a class="dropdown-item" href="#">Contas Bancárias</a>
                        <a class="dropdown-item" href="#">DRE</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown7" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="menu-item"><i class="fas fa-file-alt"></i> GED</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown7">
                        <a class="dropdown-item" href="#">Arquivo</a>
                        <a class="dropdown-item" href="#">Digitalização</a>
                        <a class="dropdown-item" href="#">OCR</a>
                        <a class="dropdown-item" href="#">Ficha de Cadastro</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown8" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="menu-item"><i class="fas fa-print"></i> Relatórios</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown8">
                        <a class="dropdown-item" href="#">Cadastro</a>
                        <a class="dropdown-item" href="#">Atendimento</a>
                        <a class="dropdown-item" href="#">Geo</a>
                        <a class="dropdown-item" href="#">Comunicação</a>
                        <a class="dropdown-item" href="#">Financeiro</a>
                        <a class="dropdown-item" href="#">Produtividade</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown9" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="menu-item"><i class="fas fa-cog"></i> Configurações</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown9">
                        <a class="dropdown-item" href="#">Status do Atendimento</a>
                        <a class="dropdown-item" href="#">Grupo de Eleitores</a>
                        <a class="dropdown-item" href="#">Origem dos Atendimentos</a>
                        <a class="dropdown-item" href="#">Usuários</a>
                        <a class="dropdown-item" href="#">Meu Plano</a>
                        <a class="dropdown-item" href="#">Backup de Dados</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Conteudo -->
    <div id="main">
        <div class="card">
            <div class="card-header">
                <h5>Agenda</h5>
            </div>
            <div class="card-body ">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <i class="fas fa-angle-double-right"></i><li class="breadcrumb-item">Atendimento</li>
                        <li class="breadcrumb-item active" aria-current="page">Agenda</li>
                    </ol>
                </nav>

                <div class="row">
                    <div class="col-2">
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#CadastroModal"><i class="fas fa-calendar-alt"></i> Novo Compromisso</button>
                    </div>
                    <div class="col-5">
                        <div class="row">
                            <div class="col-6">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <button class="btn btn-outline-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" id="hoje" href="#">Hoje</a>
                                            <a class="dropdown-item" id="semana" href="#">Esta semana</a>
                                            <a class="dropdown-item" id="mes" href="#">Este mês</a>
                                            <a class="dropdown-item" id="periodo" href="#">Escolha o periodo</a>
                                        </div>
                                    </div>
                                    <input id="date-dynamic" type="date" class="form-control" aria-label="Data" value="">
                                </div>
                            </div>
                            <div class="col-1 mt-1">
                                <label id="label-ate" class="">Até</label>
                            </div>
                            <div class="col-5">
                                <input class="form-control" type="date" id="dt-fim">
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Pesquisar por" aria-label="Pesquisar por" aria-describedby="button-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-outline-primary" type="button" id="button-addon2"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <a href="#" >
                            <button id="toggle-search" class="btn btn-primary"><i class="fas fa-search-plus"></i> Busca Avançada</button>
                        </a>
                    </div>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="CadastroModal" tabindex="-1" role="dialog" aria-labelledby="CadastroModalTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="ModalLongTitle">Dados do Compromisso</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                    <span aria-hidden="true">X</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-row">
                                    <div class="form-group col">
                                        <label for="titulo">Título</label>
                                        <input type="text" class="form-control" id="titulo" placeholder="Informe o nome do compromisso">
                                    </div>
                                    <div id="select_usuario" class="form-group col-sm-2">
                                        <label for="usuario-new">Usuário</label>
                                        <select id="usuario-new" class="custom-select">
                                            <option selected></option>
                                            <option value="1">list_usuario</option>
                                            <option value="-1" class="bg-success text-white">+ Cadastrar Novo</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-xs-3">
                                        <label for="inicio">Data e Hora</label>
                                        <input class="form-control" type="datetime-local" id="inicio">
                                    </div>
                                    <div class="form-group col-xs-1 mt-3">
                                        <label for="ate"></label>
                                        <small id="ate" class="form-text text-muted"><b>Até</b></small>
                                    </div>
                                    <div class="form-group col-xs-3">
                                        <label for="termino">&nbsp;</label>
                                        <input class="form-control" type="datetime-local" id="termino">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-sm-3">
                                        <label for="tp-compromisso-new">Tipo</label>
                                        <select id="tp-compromisso-new" class="custom-select">
                                            <option selected></option>
                                            <option value="1">Fornecedor</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-sm-2">
                                        <label for="prioridade-new">Prioridade</label>
                                        <select id="prioridade-new" class="custom-select">
                                            <option selected></option>
                                            <option value=""> list_prioridade </option>
                                        </select>
                                    </div>
                                    <div class="form-group col-sm-4">
                                        <label for="contato">Contato</label>
                                        <select id="contato" class="custom-select">
                                            <option selected></option>
                                            <option value="1">list_contato</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-sm-3">
                                        <label for="orgao-new">Orgão</label>
                                        <select id="orgao-new" class="custom-select">
                                            <option selected></option>
                                            <option value=""> list_orgao </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-5">
                                        <label for="endereco">Endereço</label>
                                        <input type="text" class="form-control" id="endereco">
                                    </div>
                                    <div class="form-group col-1">
                                        <label for="estado">Estado</label>
                                        <select id="estado" class="custom-select">
                                            <option selected></option>
                                            <option value="1">list-estado</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-3">
                                        <label for="cidade-new">Cidade</label>
                                        <select id="cidade-new" class="custom-select">
                                            <option selected></option>
                                            <option value="1">list-cidade</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-3">
                                        <label for="local">Local</label>
                                        <input type="text" class="form-control" id="local">
                                    </div>
                                </div>
                                <div class="form-row">
                                <div class="form-group col-9">
                                    <label for="obs">Detalhes</label>
                                    <textarea class="form-control" id="obs" name="obs" rows="3" cols="70"></textarea>
                                </div>
                                <div class="form-group col-3 pt-5 d-flex justify-content-center align-self-center">
                                    <label>&nbsp;</label>
                                    <div class="form-row">
                                        <div class="form-group col-xs-6 mr-2">
                                            <button type="submit" class="btn btn-success"><i class="far fa-check-circle"></i> Salvar</button>
                                        </div>
                                        <div class="form-group col-xs-6">
                                            <button type="reset" class="btn btn-danger"><i class="far fa-times-circle"></i> Limpar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal Cadastro de usuários -->
                <div class="modal fade" id="CadastroUsuarioModal" tabindex="-1" role="dialog" aria-labelledby="CadastroUsuarioModalTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="CadastroUsuarioModalTitle">Cadastro de Usuários</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                    <span aria-hidden="true">X</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <ul class="nav nav-tabs mt-5" id="myTab" role="tablist" style="font-weight: bold">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="cadastro-tab" data-toggle="tab" href="#cadastro" role="tab" aria-controls="cadastro" aria-selected="true">Cadastro</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="permissao-tab" data-toggle="tab" href="#permissao" role="tab" aria-controls="permissao" aria-selected="false">Permissões</a>
                                    </li>
                                </ul>

                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active" id="cadastro" role="tabpanel" aria-labelledby="cadastro-tab">
                                        <form class="mt-2 pt-2">
                                            <div class="form-row">
                                                <div class="form-group col-3">
                                                    <label for="nome">Nome Completo</label>
                                                    <input type="text" class="form-control" id="nome">
                                                </div>
                                                <div class="form-group col-2">
                                                    <label for="cargo">Cargo</label>
                                                    <select id="cargo" class="custom-select">
                                                        <option selected></option>
                                                        <option value="1">{{ list_cargo }}</option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-2">
                                                    <label for="escritorio">Escritório</label>
                                                    <select id="escritorio" class="custom-select">
                                                        <option selected></option>
                                                        <option value="1">{{ list_escritorio }}</option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-2">
                                                    <label for="perfil">Perfil</label>
                                                    <select id="perfil" class="custom-select">
                                                        <option selected></option>
                                                        <option value="1">{{ list_perfil }}</option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-2">
                                                    <label for="status">Status</label>
                                                    <select id="status" class="custom-select">
                                                        <option selected></option>
                                                        <option value="1">Ativo</option>
                                                        <option value="2">Inativo</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-row border-top border-secondary">
                                                <div class="form-group col-sm-12 d-flex justify-content-start">
                                                    <small id="dica" class="form-text text-muted">Construa uma senha que contenha letras, números e símbolos, com isso, você esta tornando sua conta mais segura contra possíveis invasores.</small>
                                                </div>
                                            </div>

                                            <div class="form-row border-bottom border-secondary">
                                                <div class="form-group col-4">
                                                    <label for="login">E-mail</label>
                                                    <input type="email" class="form-control" id="login">
                                                </div>
                                                <div class="form-group col-sm-4">
                                                    <label for="senha">Senha</label>
                                                    <div class="input-group-append">
                                                        <input type="password" class="form-control" id="senha">
                                                        <div class="input-group-append">
                                                            <button class="btn border" type="button" id="button-addon3"><i class="fas fa-eye"></i></button>
                                                        </div>
                                                        <div class="input-group-append">
                                                            <button class="btn border" type="button" id="button-addon4">Gerar</button>
                                                        </div>
                                                    </div>
                                                    <small class="form-text text-muted">Senha de 8 a 30 caracteres sem espaços</small>
                                                </div>
                                                <div class="form-group col-sm-3">
                                                    <label for="confirm">Confirmar senha</label>
                                                    <input type="password" class="form-control" id="confirm">
                                                    <small class="form-text text-muted">Digite novamente a senha</small>
                                                </div>
                                            </div>

                                            <div class="row mt-4">
                                                <div class="col-3">
                                                    <div class="form-row">
                                                        <div class="form-group col-xs-6 mr-2">
                                                            <button type="submit" class="btn btn-success"><i class="far fa-check-circle"></i> Salvar</button>
                                                        </div>
                                                        <div class="form-group col-xs-6">
                                                            <button type="reset" class="btn btn-danger"><i class="far fa-times-circle"></i> Limpar</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="tab-pane fade" id="permissao" role="tabpanel" aria-labelledby="permissao-tab">
                                        <div class="row">
                                            <div class="col-8 mt-5">
                                                <button type="button" class="btn btn-success fas fa-lock-open mr-4">  Liberar todas as permissões</button>
                                                <button type="button" class="btn btn-danger fas fa-lock">  Bloquear todas as permissões</button>
                                            </div>
                                        </div>

                                        <div class="row my-4">
                                            <div class="col-4">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="admin">
                                                    <label class="form-check-label" for="inlineCheckbox1">Administrador</label>
                                                </div>
                                                <select class="custom-select" multiple>
                                                    <option selected>Permissão 1</option>
                                                    <option value="1">Permissão 2</option>
                                                    <option value="2">Permissão 3</option>
                                                    <option value="3">Permissão 4</option>
                                                </select>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="bascio">
                                                    <label class="form-check-label" for="inlineCheckbox2">Básico</label>
                                                </div>
                                                <select class="custom-select" multiple>
                                                    <option selected>Permissão 1</option>
                                                    <option value="1">Permissão 2</option>
                                                    <option value="2">Permissão 3</option>
                                                    <option value="3">Permissão 4</option>
                                                </select>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="avancado">
                                                    <label class="form-check-label" for="inlineCheckbox3">Avançado</label>
                                                </div>
                                                <select class="custom-select" multiple>
                                                    <option selected>Permissão 1</option>
                                                    <option value="1">Permissão 2</option>
                                                    <option value="2">Permissão 3</option>
                                                    <option value="3">Permissão 4</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row pt-3 border-top border-secondary">
                                            <div class="col-2">
                                                <button class="btn btn-success"><i class="far fa-check-circle mr-2"></i>Salvar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div >
                        </div>
                        </div>
                    </div>
                </div>

                <div id="advanced-search">
                    <form>
                        <div class="form-row">
                            <div class="form-group col-sm-2">
                                <label for="usuario">Usuário</label>
                                <select id="usuario" class="custom-select">
                                    <option selected></option>
                                    <option value="1">list_usuario</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-1">
                                <label for="tp-compromisso">Tipo</label>
                                <select id="tp-compromisso" class="custom-select">
                                    <option selected></option>
                                    <option value="1">Fornecedor</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-2">
                                <label for="periodo-ini">Período Inicial</label>
                                <input class="form-control" type="date" id="periodo-ini">
                            </div>
                            <div class="form-group col-sm-2">
                                <label for="periodo-fim">Período Final</label>
                                <input class="form-control" type="date" id="periodo-fim">
                            </div>
                            <div class="form-group col-sm-1">
                                <label for="orgao">Orgão</label>
                                <select id="orgao" class="custom-select">
                                    <option selected></option>
                                    <option value=""> list_orgao </option>
                                </select>
                            </div>
                            <div class="form-group col-sm-1">
                                <label for="prioridade">Prioridade</label>
                                <select id="prioridade" class="custom-select">
                                    <option selected></option>
                                    <option value=""> list_prioridade </option>
                                </select>
                            </div>
                            <div class="form-group col-sm-1">
                                <label for="situacao">Situação</label>
                                <select id="situacao" class="custom-select">
                                    <option selected></option>
                                    <option value=""> list_situacao </option>
                                </select>
                            </div>
                            <div class="form-group col-sm-2">
                                <label for="cidade">Cidade</label>
                                <select id="cidade" class="custom-select">
                                    <option selected></option>
                                    <option value="">{{ list_cidade }}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-1">
                                <button id="submit-advanced" class="btn btn-success" type="submit"><i class="far fa-check-circle"></i> Buscar</button>
                            </div>
                            <div class="col-1">
                                <button id="reset-advanced" class="btn btn-danger" type="reset"><i class="far fa-times-circle"></i> Limpar</button>
                            </div>
                            <div class="col-2">
                                <button id="imprimir-advanced" class="btn btn-info" type="reset"><i class="fas fa-print"></i> Imprimir</button>
                            </div>
                        </div>
                    </form>
                </div>

                <table class="table table-sm table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Compromisso</th>
                        <th scope="col">Usuário</th>
                        <th scope="col">Data e Hora</th>
                        <th scope="col">Contato</th>
                        <th scope="col">Orgão</th>
                        <th scope="col">Status</th>
                        <th scope="col">Ações</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>titulo do compromisso</td>
                        <td>usuario exemplo</td>
                        <td>18/04/2019 14:00</td>
                        <td></td>
                        <td></td>
                        <!-- Classes para a cor da coluna ----
                                - concluido
                                - aguardando
                                - cancelado
                                - aberto
                             -->
                        <td class="aberto">Aberto</td>
                        <td class="action-column">
                            <a href="#"><button class="btn btn-primary fas fa-search"></button></a>
                            <a href="#"><button class="btn btn-warning fas fa-edit"></button></a>
                            <a href="#"><button class="btn btn-danger fas fa-trash"></button></a>
                            <button class="btn-sm btn-success fas fa-caret-square-down dropdown-toggle caret-off" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Imprimir A4</a>
                                <a class="dropdown-item" href="#">Enviar E-mail</a>
                                <a class="dropdown-item" href="#">Enviar SMS</a>
                                <a class="dropdown-item" href="https://api.whatsapp.com/send?phone=5569999843005&text=Mensagem+de+teste+whatsapp+web&source&data&lang=pt_br" target="_blank">Enviar WhatsApp</a>
                                <a class="dropdown-item" data-toggle="modal" data-target="#HistoricoModal" href="#">Visualizar Histórico</a>
                            </div>
                        </td>
                    </tr>

		    <tr>
                        <td>titulo do compromisso</td>
                        <td>usuario exemplo</td>
                        <td>18/04/2019 14:00</td>
                        <td></td>
                        <td></td>
                        <!-- Classes para a cor da coluna ----
                                - concluido
                                - aguardando
                                - cancelado
                                - aberto
                             -->
                        <td class="aguardando">Aguardando</td>
                        <td class="action-column">
                            <a href="#"><button class="btn btn-primary fas fa-search"></button></a>
                            <a href="#"><button class="btn btn-warning fas fa-edit"></button></a>
                            <a href="#"><button class="btn btn-danger fas fa-trash"></button></a>
                            <button class="btn-sm btn-success fas fa-caret-square-down dropdown-toggle caret-off" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Imprimir A4</a>
                                <a class="dropdown-item" href="#">Enviar E-mail</a>
                                <a class="dropdown-item" href="#">Enviar SMS</a>
                                <a class="dropdown-item" href="https://api.whatsapp.com/send?phone=5569999843005&text=Mensagem+de+teste+whatsapp+web&source&data&lang=pt_br" target="_blank">Enviar WhatsApp</a>
                                <a class="dropdown-item" data-toggle="modal" data-target="#HistoricoModal" href="#">Visualizar Histórico</a>
                            </div>
                        </td>
                    </tr>

		<tr>
                        <td>titulo do compromisso</td>
                        <td>usuario exemplo</td>
                        <td>18/04/2019 14:00</td>
                        <td></td>
                        <td></td>
                        <!-- Classes para a cor da coluna ----
                                - concluido
                                - aguardando
                                - cancelado
                                - aberto
                             -->
                        <td class="cancelado">Cancelado</td>
                        <td class="action-column">
                            <a href="#"><button class="btn btn-primary fas fa-search"></button></a>
                            <a href="#"><button class="btn btn-warning fas fa-edit"></button></a>
                            <a href="#"><button class="btn btn-danger fas fa-trash"></button></a>
                            <button class="btn-sm btn-success fas fa-caret-square-down dropdown-toggle caret-off" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Imprimir A4</a>
                                <a class="dropdown-item" href="#">Enviar E-mail</a>
                                <a class="dropdown-item" href="#">Enviar SMS</a>
                                <a class="dropdown-item" href="https://api.whatsapp.com/send?phone=5569999843005&text=Mensagem+de+teste+whatsapp+web&source&data&lang=pt_br" target="_blank">Enviar WhatsApp</a>
                                <a class="dropdown-item" data-toggle="modal" data-target="#HistoricoModal" href="#">Visualizar Histórico</a>
                            </div>
                        </td>
                    </tr>


<tr>
                        <td>titulo do compromisso</td>
                        <td>usuario exemplo</td>
                        <td>18/04/2019 14:00</td>
                        <td></td>
                        <td></td>
                        <!-- Classes para a cor da coluna ----
                                - concluido
                                - aguardando
                                - cancelado
                                - aberto
                             -->
                        <td class="concluido">Concluido</td>
                        <td class="action-column">
                            <a href="#"><button class="btn btn-primary fas fa-search"></button></a>
                            <a href="#"><button class="btn btn-warning fas fa-edit"></button></a>
                            <a href="#"><button class="btn btn-danger fas fa-trash"></button></a>
                            <button class="btn-sm btn-success fas fa-caret-square-down dropdown-toggle caret-off" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Imprimir A4</a>
                                <a class="dropdown-item" href="#">Enviar E-mail</a>
                                <a class="dropdown-item" href="#">Enviar SMS</a>
                                <a class="dropdown-item" href="https://api.whatsapp.com/send?phone=5569999843005&text=Mensagem+de+teste+whatsapp+web&source&data&lang=pt_br" target="_blank">Enviar WhatsApp</a>
                                <a class="dropdown-item" data-toggle="modal" data-target="#HistoricoModal" href="#">Visualizar Histórico</a>
                            </div>
                        </td>
                    </tr>

                    </tbody>
                </table>

                <div>
                    <nav class="paginator" aria-label="Page navigation">
                        <ul class="pagination justify-content-center">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">&laquo;</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">&raquo;</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div id="pre-footer">
        <img src="../img/logo-footer.png">
        <p>© 2020</p>
    </div>


<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="../js/moment-with-locales.js"></script>
<script src="../js/custom.js"></script>
<script>

</script>
</body>
</html>